$blue-1: #3F99DD;
$blue-2: #E2F2FC;
$teal-1: #27BDB1;
$teal-2: #E5FBFB;
$green-1: #22C34F;
$green-2: #ECFCF0;
$pomegranate-1: #FF4E4E;
$pomegranate-2: #FFF2F2;
$sunkist-1: #FF8731;
$sunkist-2: #FFF1E7;
$red-brick-1: #E34624;
$red-brick-2: #FCEDE7;
$purple-blue-1: #6477EA;
$purple-blue-2: #F1F4FD;
$lavender-1: #8175CE;
$lavender-2: #E7E4F9;
$grey-1: #737373;
$grey-2: #F4F4F4;

// color text
.color-supportive-blue-1 {
  color: $blue-1 !important;
}
.color-supportive-teal-1 {
  color: $teal-1 !important;
}
.color-supportive-green-1 {
  color: $green-1 !important;
}
.color-supportive-pomegranate-1 {
  color: $pomegranate-1 !important;
}
.color-supportive-sunkist-1 {
  color: $sunkist-1 !important;
}
.color-supportive-red-brick-1 {
  color: $red-brick-1 !important;
}
.color-supportive-purple-blue-1 {
  color: $purple-blue-1 !important;
}
.color-supportive-lavender-1 {
  color: $lavender-1 !important;
}
.color-supportive-grey-1 {
  color: $grey-1 !important;
}

// background color
.bg-supportive-blue-1 {
  background-color: $blue-1 !important;
}
.bg-supportive-teal-1 {
  background-color: $teal-1 !important;
}
.bg-supportive-green-1 {
  background-color: $green-1 !important;
}
.bg-supportive-pomegranate-1 {
  background-color: $pomegranate-1 !important;
}
.bg-supportive-sunkist-1 {
  background-color: $sunkist-1 !important;
}
.bg-supportive-red-brick-1 {
  background-color: $red-brick-1 !important;
}
.bg-supportive-lavender-1 {
  background-color: $lavender-1 !important;
}
.bg-supportive-grey-1 {
  background-color: $grey-1 !important;
}
.bg-supportive-purple-blue-1 {
  background-color: $purple-blue-1 !important;
}


.bg-supportive-blue-2 {
  background-color: $blue-2 !important;
}
.bg-supportive-teal-2 {
  background-color: $teal-2 !important;
}
.bg-supportive-green-2 {
  background-color: $green-2 !important;
}
.bg-supportive-pomegranate-2 {
  background-color: $pomegranate-2 !important;
}
.bg-supportive-sunkist-2 {
  background-color: $sunkist-2 !important;
}
.bg-supportive-red-brick-2 {
  background-color: $red-brick-2 !important;
}
.bg-supportive-lavender-2 {
  background-color: $lavender-2 !important;
}
.bg-supportive-grey-2 {
  background-color: $grey-2 !important;
}
.bg-supportive-purple-blue-2 {
  background-color: $purple-blue-2 !important;
}
