<template>
  <!-- eslint-disable -->
  <div class="login-index">

  </div>
</template>
<script>
import { loading } from '@/libs/helpers/global'

export default {
  name: 'LoginDirect',
  data () {
    return {
      phone: {
        code: this.$store.getters['global/code'],
        number: this.$store.getters['global/number'],
        classCode: this.$store.getters['global/classCode'],
        uuidCountry: this.$store.getters['global/uuidCountry']
      }
    }
  },
  methods: {
    loading,
    async checkPhoneFromParameter () {
      if (this.$route.query.dial_code && this.$route.query.phone) {
        let dialCode = this.$route.query.dial_code
        const phone = this.$route.query.phone

        if (!dialCode.includes('+')) {
          dialCode = '+' + dialCode
        }

        const payload = {
          dial_code: dialCode,
          phone: phone,
          skip_otp_if_user_exist: true
        }

        this.loading('start')
        try {
          const res = await this.$store.dispatch('login/checkPhoneExist', payload)
          if (res.success === true) {
            if (res.data.pin === true) {
              this.$store.commit('login/userUuid', res.data.uuid)
              this.$store.commit('global/number', phone)
              this.$router.push('pin/check/login')
            } else {
              this.bottomSheetPin = true
            }
            this.loading('finish')
          }
        } catch (err) {
          this.loading('finish')
          payload.application_uuid = process.env.VUE_APP_UUID

          const resTemporary = await this.$store.dispatch('register/createTemporary', payload)

          if (resTemporary.success) {
            this.loading('finish')
            this.$store.commit('global/number', phone)
            this.$router.push('/register/otp')
          } else {
            this.loading('finish')
          }
        }
      }
    },
    resetState () {
      this.$store.commit('pin/reset')
      this.$store.commit('register/reset')
      this.$store.commit('login/reset')
      this.$store.commit('global/reset')
    }
  },
  created () {
    this.resetState()
    this.checkPhoneFromParameter()
  }
}
</script>
<style lang="sass">
  .login-index
    *
      margin: 0
      padding: 0

    .wrap-number
      border: 1px solid #c0c0c0
      border-radius: 4px
      margin-right: 6px
      padding-top: 10px
      padding-bottom: 9px

    .bottom-fixed
      position: fixed
      bottom: 0
      margin-bottom: 4px
      margin-left: -20px

    hr
      border-color: #E8EAEF
      border-width: .5px
</style>
