<template>
  <!-- eslint-disable -->
  <div id="login-index">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <div class="min-height-full wrap-component">
      <div class="login-index">
        <v-layout column>
          <v-flex>
            <div class="pos-relative">
              <img
                :src="require('@/assets/auth/halofina-header.svg')"
                style="width: 100%; height: auto;"
                class="mb-1"
                alt="header"
              />
            </div>
            <div class="pa-5 wrap-form">
              <v-card-text class="avenir-14-reg mb-1">Nomor Ponsel</v-card-text>
              <v-layout row>
                <v-flex xs4>
                  <v-layout row justify-space-between align-center class="wrap-number avenir-14-reg pl-2 pr-1 text-truncate cursor-pointer" @click="goToCountry()">
                    <v-flex xs10>
                      <div>
                        <span :class="'flag-icon mr-1 flag-icon-' + phone.classCode.toLowerCase()"></span>
                        {{phone.code}}
                      </div>
                    </v-flex>
                    <v-flex xs2>
                      <v-icon small color="black">mdi-chevron-down</v-icon>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs8>
                  <v-text-field
                    v-model="phone.number"
                    outlined
                    background-color="white"
                    placeholder="89673419573"
                    dense
                    type="tel"
                    hide-details
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row mt-2 align-start v-if="!validation.phone">
                <img src="@/assets/register/error.svg" class="mr-1" />
                <div class="color-denotive-red-1 avenir-12-reg">Nomor ponsel belum terdaftar</div>
              </v-layout>
              <v-btn
                depressed
                color="primary"
                block
                height="48px"
                class="mt-10 btn-radius-4"
                :disabled="phone.number.length < 1"
                @click="submit"
              >Lanjut</v-btn>

              <!-- dont have pin -->
              <v-layout row align-center mt-6>
                <v-flex xs5>
                  <hr />
                </v-flex>
                <v-flex xs2>
                  <div class="text-center avenir-12-reg color-text-4">atau</div>
                </v-flex>
                <v-flex xs5>
                  <hr />
                </v-flex>
              </v-layout>

              <v-card-text class="pt-4 text-center avenir-14-reg color-text-3">
                Belum punya PIN?
              </v-card-text>

              <div class="full-width pt-2">
                <v-btn outlined min-height="48px" class="btn-radius-4" @click="goToLoginEmail()" color="primary" block>Masuk dengan Email</v-btn>
              </div>
            </div>
          </v-flex>
        </v-layout>

        <div class="full-width bottom-fixed">
          <v-card-text class="avenir-14-reg text-center mb-3">
            Belum punya akun?
            <span class="avenir-14-med color-primary-1 cursor-pointer" @click="goToRegister()">Daftar Sekarang</span>
          </v-card-text>
        </div>

        <!-- reusable bottom sheet -->
        <reusable-bottom-sheet
          v-model="bottomSheetPin"
          :use-stripes="true"
        >
          <div slot="custom-layout">
            <v-layout row justify-end px-2 pb-1 @click="bottomSheetPin = false">
              <img src="@/assets/generic/icons/ic-close.svg">
            </v-layout>
            <v-layout column align-center>
              <img src="@/assets/pin/dont-have-pin.svg" />
            </v-layout>
            <v-card-text class="nexa-18-bold pa-0 color-text-1 text-center">
              Kamu belum membuat PIN
            </v-card-text>
            <v-card-text class="avenir-14-reg pa-0 pt-3 text-center">
              Demi kemudahan penggunaan, kami sekarang mengamankan akun kamu dengan PIN. Silakan masuk dengan email dan kata sandi untuk membuat PIN.
            </v-card-text>
            <v-btn
              class="btn-radius-6 box-shadow py-3 nexa-16-bold mt-9"
              color="primary"
              depressed
              block
              min-height="56px"
              @click="goToLoginEmail()"
            >
              Masuk dengan Email
            </v-btn>
          </div>
        </reusable-bottom-sheet>
      </div>
    </div>
  </div>
</template>
<script>
import { loading } from '@/libs/helpers/global'
export default {
  name: 'LoginIndex',
  data () {
    return {
      bottomSheetPin: false,
      phone: {
        code: this.$store.getters['global/code'],
        number: this.$store.getters['global/number'],
        classCode: this.$store.getters['global/classCode'],
        uuidCountry: this.$store.getters['global/uuidCountry']
      },
      password: '',
      validation: {
        phone: true
      },
      isDisabled: true
    }
  },
  methods: {
    loading,
    goToLoginEmail () {
      this.bottomSheetPin = false
      this.$router.push('/login/email')
    },
    goToCountry () {
      this.$store.commit('global/number', this.phone.number)
      this.$router.push('/register/country')
    },
    goToRegister () {
      this.$router.push('/register')
    },
    async submit () {
      this.loading('start')
      try {
        const payload = {
          dial_code: this.phone.code,
          phone: this.phone.number
        }
        const res = await this.$store.dispatch('login/checkPhoneExist', payload)
        if (res.success === true) {
          if (res.data.pin === true) {
            this.$store.commit('login/userUuid', res.data.uuid)
            this.$store.commit('global/number', payload.phone)
            this.$router.push('login/otp')
          } else {
            this.bottomSheetPin = true
          }
          this.loading('finish')
        } else {
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
        this.validation.phone = err.success
      }
    },
    resetState () {
      this.$store.commit('pin/reset')
      this.$store.commit('register/reset')
      this.$store.commit('login/reset')
      this.$store.commit('global/reset')
    }
  },
  created () {
    this.resetState()
  }
}
</script>
<style lang="sass">
#login-index
  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .bottom-0
    width: 100%
    bottom: 72px
    position: fixed
    z-index: 22
    left: 0

  .header
    display: none

.login-index
  *
    margin: 0
    padding: 0

  .wrap-form
    background: white
    position: relative
    z-index: 1

  .wrap-number
    border: 1px solid #c0c0c0
    border-radius: 4px
    margin-right: 6px
    padding-top: 10px
    padding-bottom: 9px

  .bottom-fixed
    position: fixed
    bottom: 4px
    // margin-bottom: 4px
    left: 50%
    transform: translateX(-50%)

  hr
    border-color: #E8EAEF
    border-width: .5px

@media screen and (min-width: 768px)
  #login-index
    .header
      display: flex
      width: 100%
      position: fixed
      top: 0
      z-index: 2
      background: white
      height: 56px
      border: 1px solid #E8EAEF
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .wrap-component
      // v-layout
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-flex: 1
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      -ms-flex-wrap: nowrap
      flex-wrap: nowrap
      min-width: 0
      // column
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column
      // align-center
      -webkit-box-align: center !important
      -ms-flex-align: center !important
      align-items: center !important
      // justify-center
      -webkit-box-pack: center !important
      -ms-flex-pack: center !important
      justify-content: center !important

    #login-index
      .v-toolbar
        margin-top: 56px !important
        box-shadow: none !important

    .login-index
      width: 360px !important
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px
      overflow: hidden

      .wrap-btn-next
        padding: 40px 20px 24px 20px
        .btn-next
          position: relative

</style>
