// 10

.pa-10 {
    padding: 10px !important
}

.pl-10 {
    padding-left: 10px !important
}

.pr-10 {
    padding-right: 10px !important
}

.pt-10 {
    padding-top: 10px !important
}

.pb-10 {
    padding-bottom: 10px !important
}

.px-10 {
    padding-right: 10px !important;
    padding-left: 10px !important
}

.py-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important
}


.ma-10 {
    margin: 10px !important
}

.ml-10 {
    margin-left: 10px !important
}

.mr-10 {
    margin-right: 10px !important
}

.mt-10 {
    margin-top: 10px !important
}

.mb-10 {
    margin-bottom: 10px !important
}

.mx-10 {
    margin-right: 10px !important;
    margin-left: 10px !important
}

.my-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}


// 36

.pa-36 {
    padding: 36px !important
}

.pl-36 {
    padding-left: 36px !important
}

.pr-36 {
    padding-right: 36px !important
}

.pt-36 {
    padding-top: 36px !important
}

.pb-36 {
    padding-bottom: 36px !important
}

.px-36 {
  padding-right: 36px !important;
  padding-left: 36px !important
}

.py-36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important
}


.ma-36 {
  margin: 36px !important
}

.ml-36 {
  margin-left: 36px !important
}

.mr-36 {
  margin-right: 36px !important
}

.mt-36 {
  margin-top: 36px !important
}

.mb-36 {
  margin-bottom: 36px !important
}

.mx-36 {
  margin-right: 36px !important;
  margin-left: 36px !important
}

.my-36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pos-relative {
  position: relative
}

.pos-absolute {
  position: absolute
}

.pos-fixed {
  position: fixed
}

.bottom-pos {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%)
}

.fixed-layout {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0px
}
