body, .v-label, input, .v-input {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
}

// Avenir

// regular
.avenir-10-reg {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 10px !important;
  line-height: 12px !important;
  color: $color-text-2;
}

.avenir-12-reg {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 12px !important;
  line-height: 16px !important;
  color: $color-text-2;
}

.avenir-14-reg {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 14px !important;
  line-height: 18px !important;
  color: $color-text-2;
}

.avenir-16-reg {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 16px !important;
  line-height: 22px !important;
  color: $color-text-2;
}

.avenir-20-reg {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 20px !important;
  line-height: 28px !important;
  color: $color-text-2;
}

.avenir-22-reg {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 22px !important;
  line-height: 30px !important;
  color: $color-text-2;
}

.avenir-28-reg {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 28px !important;
  line-height: 30px !important;
  color: $color-text-2;
}

.avenir-32-reg {
  font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
  font-size: 32px !important;
  line-height: 44px !important;
  color: $color-text-2;
}

// medium
.avenir-10-med {
  font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
  font-size: 10px !important;
  line-height: 12px !important;
  color: $color-text-2;
}

.avenir-12-med {
  font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
  font-size: 12px !important;
  line-height: 16px !important;
  color: $color-text-2;
}

.avenir-14-med {
  font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
  font-size: 14px !important;
  line-height: 20px !important;
  color: $color-text-2;
}

.avenir-16-med {
  font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
  font-size: 16px !important;
  line-height: 22px !important;
  color: $color-text-2;
}

.avenir-18-med {
  font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
  font-size: 18px !important;
  line-height: 24px !important;
  color: $color-text-2;
}

// bold
.avenir-12-bold {
  font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 12px !important;
  line-height: 16px !important;
  color: $color-text-2;
}

.avenir-14-bold {
  font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 14px !important;
  line-height: 17px !important;
  color: $color-text-2;
}

.avenir-16-bold {
  font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 16px !important;
  line-height: 22px !important;
  color: $color-text-2;
}

.avenir-18-bold {
  font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 18px !important;
  line-height: 24px !important;
  color: $color-text-2;
}
// Nexa

.nexa-14-bold {
  font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 14px !important;
  letter-spacing: 0.4px !important;
  line-height: 17px !important;
  color: $color-text-2;
}

.nexa-16-bold {
  font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 16px !important;
  letter-spacing: 0.4px !important;
  line-height: 20px !important;
  color: $color-text-2;
}

.nexa-18-bold {
  font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 18px !important;
  letter-spacing: 0.4px !important;
  line-height: 24px !important;
  color: $color-text-2;
}

.nexa-20-bold {
  font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 20px !important;
  letter-spacing: 0.4px !important;
  line-height: 26px !important;
  color: $color-text-2;
}

.nexa-24-bold {
  font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 24px !important;
  letter-spacing: 0.4px !important;
  line-height: 30px !important;
  color: $color-text-2;
}

.nexa-32-bold {
  font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 32px !important;
  letter-spacing: 0.4px !important;
  line-height: 40px !important;
  color: $color-text-2;
}

.nexa-44-bold {
  font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
  font-size: 44px !important;
  letter-spacing: 0.4px !important;
  line-height: 55px !important;
  color: $color-text-2;
}

.nexa-12-light {
  font-family: "Nexa-Light", Helvetica, Arial, Sans-Serif;
  font-size: 12px !important;
  line-height: 16px !important;
  color: $color-text-2;
}

@media only screen and (max-width: 320px){
  // Avenir

  // regular
  .avenir-10-reg {
    font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
    font-size: 10px !important;
    line-height: 12px !important;
    color: $color-text-2;
  }

  .avenir-12-reg {
    font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
    font-size: 12px !important;
    line-height: 16px !important;
    color: $color-text-2;
  }

  .avenir-14-reg {
    font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
    font-size: 14px !important;
    line-height: 18px !important;
    color: $color-text-2;
  }

  .avenir-16-reg {
    font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
    font-size: 14px !important;
    line-height: 22px !important;
    color: $color-text-2;
  }

  .avenir-20-reg {
    font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
    font-size: 20px !important;
    line-height: 28px !important;
    color: $color-text-2;
  }

  .avenir-28-reg {
    font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
    font-size: 28px !important;
    line-height: 30px !important;
    color: $color-text-2;
  }

  .avenir-32-reg {
    font-family: "Avenir-Regular", Helvetica, Arial, Sans-Serif;
    font-size: 32px !important;
    line-height: 44px !important;
    color: $color-text-2;
  }

  // medium
  .avenir-10-med {
    font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
    font-size: 10px !important;
    line-height: 12px !important;
    color: $color-text-2;
  }

  .avenir-12-med {
    font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
    font-size: 12px !important;
    line-height: 16px !important;
    color: $color-text-2;
  }

  .avenir-14-med {
    font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
    font-size: 14px !important;
    line-height: 20px !important;
    color: $color-text-2;
  }

  .avenir-16-med {
    font-family: "Avenir-Medium", Helvetica, Arial, Sans-Serif;
    font-size: 14px !important;
    line-height: 22px !important;
    color: $color-text-2;
  }

  // bold
  .avenir-12-bold {
    font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 12px !important;
    line-height: 16px !important;
    color: $color-text-2;
  }

  .avenir-14-bold {
    font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 14px !important;
    line-height: 17px !important;
    color: $color-text-2;
  }

  .avenir-16-bold {
    font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 14px !important;
    line-height: 22px !important;
    color: $color-text-2;
  }

  .avenir-18-bold {
    font-family: "Avenir-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 18px !important;
    line-height: 24px !important;
    color: $color-text-2;
  }
  // Nexa

  .nexa-14-bold {
    font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 12px !important;
    letter-spacing: 0.4px !important;
    line-height: 17px;
    color: $color-text-2;
  }

  .nexa-16-bold {
    font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 14px !important;
    letter-spacing: 0.4px !important;
    line-height: 20px;
    color: $color-text-2;
  }

  .nexa-18-bold {
    font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 16px !important;
    letter-spacing: 0.4px !important;
    line-height: 24px;
    color: $color-text-2;
  }

  .nexa-20-bold {
    font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 18px !important;
    letter-spacing: 0.4px !important;
    line-height: 26px;
    color: $color-text-2;
  }

  .nexa-24-bold {
    font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 22px !important;
    letter-spacing: 0.4px !important;
    line-height: 30px;
    color: $color-text-2;
  }

  .nexa-32-bold {
    font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 30px !important;
    letter-spacing: 0.4px !important;
    line-height: 40px;
    color: $color-text-2;
  }

  .nexa-44-bold {
    font-family: "Nexa-Bold", Helvetica, Arial, Sans-Serif;
    font-size: 42px !important;
    letter-spacing: 0.4px !important;
    line-height: 55px;
    color: $color-text-2;
  }
}
