<template>
  <!-- eslint-disable -->
  <div id="register-country">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar :is-fixed="true" page-name="Pilih Negara" :left="true"></reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="register-country">
        <div class="wrap-country">
          <div class="wrap-search">
            <v-card-text class="px-5 pt-5 avenir-14-reg color-text-3 pb-2">Nama Negara</v-card-text>
            <div class="border-bottom-list text-area">
              <v-text-field
                v-model="search"
                class="pb-3 avenir-16-reg color-text-4 mx-5"
                placeholder="Cari Negara"
                background-color="white"
                hide-details
                outlined
                dense
              >
                <template v-slot:prepend-inner>
                  <v-icon>mdi-magnify</v-icon>
                </template>
              </v-text-field>
            </div>
          </div>
          <div class="wrap-list">
            <v-layout
              row
              justify-space-between
              px-5
              py-3
              v-for="(data, index) in filteredData"
              :key="index"
              @click="chooseCountry(data.dial_code, data.code, data.uuid)"
              class="border-bottom-list align-center cursor-pointer"
            >
              <div style="max-width: 75%; display: inline-block;" class="text-truncate">
                <span :class="'flag-icon mr-2 flag-icon-' + data.code.toLowerCase()"></span>
                <span class="avenir-16-reg">{{data.name}}</span>
              </div>
              <div>
                <span class="avenir-16-reg">{{data.dial_code}}</span>
                <v-icon medium color="black">mdi-chevron-right</v-icon>
              </div>
            </v-layout>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { loading } from '@/libs/helpers/global'
export default {
  name: 'Country',
  data () {
    return {
      search: '',
      listCountry: []
    }
  },
  methods: {
    loading,
    chooseCountry (code, classCode, uuidCountry) {
      this.$store.commit('global/code', code)
      this.$store.commit('global/classCode', classCode)
      this.$store.commit('global/uuidCountry', uuidCountry)
      this.$router.go(-1)
    },
    async getListCountry () {
      this.loading('start')
      const country = this.$store.getters['global/country']
      if (country.length > 0) {
        this.listCountry = country
        this.loading('finish')
      } else {
        try {
          const res = await this.$store.dispatch('register/country')

          if (res.success) {
            this.listCountry = res.data
            this.$store.commit('global/country', res.data)
          } else {
            throw new Error(res)
          }
        } catch (err) {
          // dialog ada kesalahan
        } finally {
          this.loading('finish')
        }
      }
    }
  },
  computed: {
    filteredData () {
      const keyword = this.search.toLowerCase()
      return this.listCountry.filter(function (listCountry) {
        return (listCountry.name + '').toLowerCase().includes(keyword) === true
      })
    }
  },
  created () {
    this.getListCountry()
  }
}
</script>

<style lang="sass">
#register-country
  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .bottom-0
    width: 100%
    bottom: 72px
    position: fixed
    z-index: 22
    left: 0

.register-country
  *
    margin: 0
    padding: 0

  .border-bottom-list
    border-bottom: 1px solid #E8EAEF

  .v-toolbar
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
    height: 48px !important

  .wrap-search
    position: fixed
    top: 47px
    width: 100%
    background: white
    z-index: 1

  .wrap-list
    margin-top: 115px

@media screen and (min-width: 768px)
  #register-country
    .register-country
      margin-top: 48px !important
      width: 360px !important

      .wrap-country
        border: 1px solid #F9F9FB
        box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
        border-radius: 4px
        position: relative
        height: 540px
        overflow: hidden

      .wrap-search
        position: absolute
        top: 0

      .wrap-list
        overflow-x: hidden
        overflow-y: scroll
        height: 545px
        margin-top: 100px

    .border-bottom-list
      width: 360px

    .header
      width: 100%
      position: fixed
      top: 0
      z-index: 2
      background: white
      height: 56px
      border: 1px solid #E8EAEF
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .wrap-component
      height: 100vh !important
      // v-layout
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-flex: 1
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      -ms-flex-wrap: nowrap
      flex-wrap: nowrap
      min-width: 0
      // column
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column
      // align-center
      -webkit-box-align: center !important
      -ms-flex-align: center !important
      align-items: center !important
      // justify-center
      -webkit-box-pack: center !important
      -ms-flex-pack: center !important
      justify-content: center !important

    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important
</style>
