<template>
  <div id="register-form">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <!-- ReusableToolbar -->
    <reusable-toolbar
      page-name="Buat Akun"
      :left="true"
      :is-fixed="true"
      :use-box-shadow="false"
    ></reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="register-form">
        <div class="toolbar-margin wrap-otp">
          <!-- App Layout -->
          <v-card-text class="nexa-24-bold color-text-1 px-5 pt-5 pb-5 mb-3">
            Isi form di bawah ini
          </v-card-text>

          <v-layout column class="px-5">
            <v-flex>
                <!-- Name -->
                <v-card-text class="avenir-14-reg color-text-3 pb-1">
                  Nama Lengkap <span class="color-system-error">*</span>
                </v-card-text>

                <v-text-field
                  v-model="fullname"
                  placeholder="Masukkan Nama Lengkap"
                  solo
                  flat
                  class="avenir-16-reg"
                  height="40px"
                  hide-details
                >
                </v-text-field>
                <v-layout row mt-2 v-if="rulesText !== '' && fullname !== ''">
                  <img src="@/assets/register/error.svg" class="mr-1" />
                  <div class="color-denotive-red-1 avenir-12-reg">{{rulesText}}</div>
                </v-layout>

                <!-- Email -->
                <v-card-text class="avenir-14-reg color-text-3 pb-1 mt-6">
                  Kode Referral
                </v-card-text>

                <v-text-field
                  v-model="referral"
                  placeholder="Masukkan bila punya kode referral"
                  solo
                  flat
                  hide-details
                >
                </v-text-field>

                <!-- <v-layout row mt-2>
                  <img src="@/assets/register/error.svg" class="mr-1" />
                  <div class="color-denotive-red-1 avenir-12-reg">Kode tidak ditemukan</div> -->
                <!-- </v-layout> -->
            </v-flex>
          </v-layout>
          <div class="wrap-btn-next">
            <v-btn
              block
              color="primary"
              class="btn-next"
              depressed
              :disabled="fullname === '' || isdisabled"
              @click="submit()"
            >
              Lanjut
            </v-btn>
          </div>
        </div>
        <!-- Dialog Description -->
        <reusable-dialogs
          v-model="dialog.isopen"
          :description="dialog.desc"
          :title="dialog.title"
          :image="dialog.title === 'Ada Kesalahan' || dialog.title === 'Data Diri' ? dialog.img : null"
          :is-image-below-title="true"
          :with-button="true"
          :resize-image="dialog.title === 'Ada Kesalahan' || dialog.title === 'Tanggal Lahir' ? true : false"
        >
        </reusable-dialogs>
      </div>
    </div>
  </div>
</template>

<script>
import { loading } from '@/libs/helpers/global'
import { trackerEvent } from '@halofina/vue-library/src/libs/Tracker'

export default {
  name: 'registerForm',
  data () {
    return {
      fullname: this.$store.getters['register/fullname'],
      referral: this.$store.getters['register/referral'],
      rulesText: '',
      dialog: {
        isopen: false,
        desc: '',
        title: '',
        img: ''
      },
      isdisabled: true
    }
  },
  watch: {
    fullname (value) {
      const pattern = /[^a-zA-Z' ]/
      if (pattern.test(value) === true) {
        this.isdisabled = true
        this.rulesText = 'Isi dengan huruf'
      } else if (value.replace(/\s/g, '').length < 3) {
        this.isdisabled = true
        this.rulesText = 'Isi minimal 3 huruf'
      } else {
        this.isdisabled = false
        this.rulesText = ''
      }
    }
  },
  methods: {
    loading,
    trackerEvent,
    dialogs (title, desc, img) {
      this.dialog.isopen = true
      this.dialog.title = title
      this.dialog.desc = desc
      this.dialog.img = img
    },
    async submit () {
      this.loading('start')
      const data = {
        fullname: this.fullname,
        referral: this.referral
      }
      try {
        const payload = {
          uuid: this.$store.getters['register/uuid'],
          fullname: this.fullname,
          referral: this.referral
        }
        const res = await this.$store.dispatch('register/updateUser', payload)

        if (res.success) {
          if (res.data === true) {
            this.trackerEvent('Account - Registration Personal Completed')
            this.$store.commit('register/form', data)
            this.$router.push('/pin/create/register')
            this.loading('finish')
          } else {
            this.validOtp = false
            this.resetOtp()
            this.loading('finish')
          }
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
      }
    }
  }
}
</script>

<style lang="sass">
.register-form
  *
    padding: 0
    margin: 0

  .wrap-btn-next
    .btn-next
      position: fixed
      bottom: 0

    .v-btn
      height: 48px !important

  .v-input__slot
    border-radius: 4px !important
    border: 1px solid #E8EAEF
    background-color: #FFF !important

  .v-text-field.v-text-field--enclosed .v-text-field__details
    padding-top: 8px !important
    padding-left: 0 !important

  .jenis-kelamin
    margin-top: 0

  .finacheck-kyc-register .v-divider
    margin: 5px

  .finacheck-kyc-register .v-btn
    margin: 0px

  .input-incomes
    padding: 6px 13px
    font-size: 14px
    border-bottom-right-radius: 8px
    border-top-right-radius: 8px

  .input-register
    padding: 6px 13px
    font-size: 14px
    border-radius: 8px

  .span
    font-size: 14px
    color: gray
    padding: 9.5px 13px
    padding-right: 0px
    border-bottom-left-radius: 8px
    border-top-left-radius: 8px
    background-color: #f6f8fa

  .popup-button
    float: right
    margin: 0px
    width: 32px !important
    height: 32px !important

  .mtn-15
    margin-top: -15px

  .v-text-field--solo .v-input__slot, .theme--light .v-text-field--solo .v-input__slot
    border-radius: 6px !important

  ::placeholder
    color: #B3B7C6 !important

@media screen and (min-width: 768px)

  .header
    width: 100%
    position: fixed
    top: 0
    z-index: 2
    background: white
    height: 56px
    border: 1px solid #E8EAEF
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-component
    margin-top: 56px
    // v-layout
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    min-width: 0
    // column
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    // align-center
    -webkit-box-align: center !important
    -ms-flex-align: center !important
    align-items: center !important
    // justify-center
    -webkit-box-pack: center !important
    -ms-flex-pack: center !important
    justify-content: center !important

  #register-form
    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

  .register-form
    width: 360px !important
    height: 410px
    border: 1px solid #F9F9FB
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
    border-radius: 4px

    .wrap-btn-next
      padding: 40px 20px 24px 20px
      .btn-next
        position: relative

</style>
