<template>
  <!-- eslint-disable -->
  <div id="register-index">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <div class="min-height-full wrap-component">
      <div class="register-index">
        <v-layout column>
          <v-flex>
            <div class="pos-relative">
              <img
                :src="require('@/assets/auth/halofina-header.svg')"
                style="width: 100%; height: auto;"
                class="mb-1"
                alt="header"
              />
            </div>
            <div class="pa-5">
              <v-card-text class="avenir-14-reg mb-1">Nomor Ponsel</v-card-text>
              <v-layout row>
                <v-flex xs4>
                  <v-layout row justify-space-between align-center class="wrap-number avenir-14-reg pl-2 pr-1 text-truncate" @click="goToCountry()">
                    <v-flex xs10>
                      <div>
                        <span :class="'flag-icon mr-1 flag-icon-' + phone.classCode.toLowerCase()"></span>
                        {{phone.code}}
                      </div>
                    </v-flex>
                    <v-flex xs2>
                      <v-icon small color="black">mdi-chevron-down</v-icon>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs8>
                  <v-text-field
                    v-model="phone.number"
                    outlined
                    background-color="white"
                    placeholder="89673419573"
                    dense
                    type="tel"
                    hide-details
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row mt-2 v-if="validation.phone === true">
                <img src="@/assets/register/error.svg" class="mr-1" />
                <div class="color-denotive-red-1 avenir-12-reg">Nomor ponsel sudah terdaftar</div>
              </v-layout>
              <v-btn
                depressed
                color="primary"
                block
                height="48px"
                class="mt-10 btn-radius-4"
                :disabled="phone.number.length < 1"
                @click="submit()"
              >Lanjut</v-btn>
              <div class="full-width">
                <v-card-text class="avenir-14-reg text-center mb-2 pt-6">
                  Sudah punya akun?
                  <span class="avenir-14-med color-primary-1 cursor-pointer" @click="goToLogin()">Masuk Sekarang</span>
                </v-card-text>
              </div>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
  </div>
</template>
<script>
import { loading } from '@/libs/helpers/global'
import { trackerEvent } from '@halofina/vue-library/src/libs/Tracker'

export default {
  name: 'RegisterIndex',
  data () {
    return {
      phone: {
        code: this.$store.getters['global/code'],
        number: this.$store.getters['global/number'],
        classCode: this.$store.getters['global/classCode'],
        uuidCountry: this.$store.getters['global/uuidCountry']
      },
      password: '',
      validation: {
        phone: false
      },
      isDisabled: true
    }
  },
  methods: {
    loading,
    trackerEvent,
    goToCountry () {
      this.$store.commit('global/number', this.phone.number)
      this.$router.push('/register/country')
    },
    goToLogin () {
      this.$router.push('/')
    },
    resetState () {
      this.$store.commit('pin/reset')
      this.$store.commit('register/reset')
    },
    async createTemporary () {
      const payload = {
        application_uuid: process.env.VUE_APP_UUID,
        reference_country_uuid: this.phone.uuidCountry,
        dial_code: this.phone.code,
        phone: this.phone.number
      }
      const res = await this.$store.dispatch('register/createTemporary', payload)

      if (res.success) {
        this.$store.commit('global/number', this.phone.number)
        this.$router.push('/register/otp')
      } else {
        throw new Error(res)
      }
    },
    async submit () {
      this.loading('start')
      try {
        const payload = {
          dial_code: this.phone.code,
          phone: this.phone.number
        }
        const res = await this.$store.dispatch('register/checkPhoneExist', payload)

        if (res.success) {
          if (res.data === true) {
            this.validation.phone = res.data
            this.loading('finish')
          } else {
            this.createTemporary()
          }
        } else {
          throw new Error(res)
        }
      } catch (err) {
        // dialog ada kesalahan
        this.loading('finish')
      }
    }
  },
  created () {
    this.resetState()
  },
  mounted () {
    this.trackerEvent('Account - Registration Page Loaded')
  }
}
</script>
<style lang="sass">
#register-index
  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .bottom-0
    width: 100%
    bottom: 72px
    position: fixed
    z-index: 22
    left: 0

  .header
    display: none

.register-index
  *
    margin: 0
    padding: 0

  .wrap-number
    border: 1px solid #c0c0c0
    border-radius: 4px
    margin-right: 6px
    padding-top: 10px
    padding-bottom: 9px

  .bottom-fixed
    position: absolute
    bottom: 4px
    left: 50%
    transform: translateX(-50%)

  hr
    border-color: #E8EAEF
    border-width: .5px

@media screen and (min-width: 768px)
  #register-index
    .header
      display: flex
      width: 100%
      position: fixed
      top: 0
      z-index: 2
      background: white
      height: 56px
      border: 1px solid #E8EAEF
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .wrap-component
      // v-layout
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-flex: 1
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      -ms-flex-wrap: nowrap
      flex-wrap: nowrap
      min-width: 0
      // column
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column
      // align-center
      -webkit-box-align: center !important
      -ms-flex-align: center !important
      align-items: center !important
      // justify-center
      -webkit-box-pack: center !important
      -ms-flex-pack: center !important
      justify-content: center !important

    #register-index
      .v-toolbar
        margin-top: 56px !important
        box-shadow: none !important

    .register-index
      width: 360px !important
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px
      overflow: hidden

      .wrap-btn-next
        padding: 40px 20px 24px 20px
        .btn-next
          position: relative

</style>
