<template>
  <div>
    <div class="text-center">
      <v-card-text class="avenir-16-reg mb-2"
        >Dikirim via email kamu
        <br />
        {{ email }}
      </v-card-text>
      <v-card-text class="avenir-12-reg mb-2">
        Bukan email kamu?
        <span class="color-primary-1">Hubungi Kami</span>
      </v-card-text>
    </div>
    <div>
      <v-text-field
        color="primary"
        type="text"
        pattern="[0-9]*"
        inputmode="numeric"
        maxlength="6"
        @input="emitOtpValue"
      ></v-text-field>
    </div>
    <div
      class="full-width bottom-pos fixed-pos"
      style="bottom: 55px !important"
    >
      <v-card-text
        v-if="countdown > 0"
        class="text-center color-text-4 avenir-12-med mb-6"
      >
        Kirim ulang kode (0:{{ countdown }})
      </v-card-text>
      <v-card-text
        v-else
        class="text-center color-primary-1 avenir-12-med mb-6"
        @click="resendCode()"
      >
        Kirim ulang kode
      </v-card-text>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AuthPinOtp',
  data () {
    return {
      countdown: 30
    }
  },
  computed: {
    email () {
      return this.$store.getters['auth/email']
    }
  },
  created () {
    this.countdownTimer()
  },
  methods: {
    resendCode () {
      this.$Api('/verification/pin/create/request')
        .post({
          uuid_user: this.$store.getters['auth/getUserUuid']
        })
        .then((res) => {
          this.snackbar.isOpen = true
          this.initCountdown()
          this.countdownTimer()
        })
        .catch(() => {
          this.dialog.dialogError = true
        })
    },
    initCountdown () {
      this.countdown = 30
    },
    countdownTimer () {
      if (this.countdown > 0) {
        setTimeout(() => {
          this.countdown -= 1
          this.countdownTimer()
        }, 1000)
      }
    },
    emitOtpValue (event) {
      this.$emit('input', event)
    }
  }
}
</script>
