<template>
  <!-- eslint-disable -->
  <div id="pin-index">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar :is-fixed="true" page-name="Konfirmasi PIN" :left="true"></reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="pin-index">
        <div class="toolbar-margin text-center wrap-otp">
          <v-layout column pt-10 class="dimension-up">
            <v-card-text class="nexa-18-bold color-black">Masukkan Ulang 6 digit PIN</v-card-text>
            <v-card-text class="avenir-12-reg color-black mt-4">
              PIN digunakan untuk masuk ke akun kamu <br />
              dan untuk bertransaksi
            </v-card-text>
            <v-layout column justify-center align-center>
              <v-flex xs12>
                <div class="wrap-code mt-5">
                  <div class="code">
                    <template>
                      <v-layout row justify-center class="digit-group pt-3 pb-5">
                        <v-otp-input
                          ref="otpInput"
                          input-classes="otp-input nexa-20-bold color-text-1"
                          separator=""
                          :num-inputs="6"
                          :should-auto-focus="true"
                          @on-complete="handleOnComplete"
                        />
                      </v-layout>
                    </template>
                  </div>
                </div>
              </v-flex>
              <v-card-text class="avenir-12-reg pt-4 color-supportive-pomegranate-1" v-if="validationPin === true">
                Pin yang kamu masukkan salah, silakan <br /> coba lagi
              </v-card-text>
            </v-layout>
          </v-layout>
          <div class="wrap-btn-next">
            <v-btn
              color="primary"
              block depressed
              min-height="56px"
              fixed
              class="btn-next"
              :bottom="true"
              :disabled="pin.length < 6 || isDisabled"
              @click="submit"
            >Lanjut</v-btn>
          </div>
        </div>

        <!-- reusable bottom sheet -->
        <reusable-bottom-sheet
          v-model="bottomSheetDoneAccount"
          :use-stripes="true"
          :persistent="true"
        >
          <div slot="custom-layout">
            <v-layout column align-center>
              <img src="@/assets/register/register-success.svg" />
            </v-layout>
            <v-card-text class="nexa-18-bold pa-0 color-text-1 text-center">
              Akun kamu berhasil dibuat!
            </v-card-text>
            <v-card-text class="avenir-14-reg pa-0 pt-3 text-center">
              Selamat! akun kamu berhasil dibuat. <br /> Kalau mau langsung berinvestasi, jangan lupa <br /> verifikasi akun kamu yaa!
            </v-card-text>
            <v-btn
              class="btn-radius-6 box-shadow py-3 nexa-16-bold mt-9"
              color="primary"
              depressed
              block
              min-height="56px"
              @click="goToDashboard()"
            >
              Oke
            </v-btn>
          </div>
        </reusable-bottom-sheet>
        <reusable-bottom-sheet
          v-model="bottomSheetDonePin"
          :use-stripes="true"
          :persistent="true"
        >
          <div slot="custom-layout">
            <v-layout column align-center>
              <img src="@/assets/pin/pin-done.svg" />
            </v-layout>
            <v-card-text class="nexa-18-bold pa-0 pt-4 color-text-1 text-center">
              PIN berhasil dibuat
            </v-card-text>
            <div class="wrap-btn-next">
              <v-btn
                class="btn-radius-6 box-shadow py-3 nexa-16-bold mt-9"
                color="primary"
                depressed
                block
                min-height="56px"
                @click="goToDashboard()"
              >
                Oke
              </v-btn>
            </div>
          </div>
        </reusable-bottom-sheet>
      </div>
    </div>
  </div>
</template>
<script>
import $ from 'jquery'
import { loading, parseJwt } from '@/libs/helpers/global'
import { trackerEvent } from '@halofina/vue-library/src/libs/Tracker'

export default {
  name: 'PinIndex',
  data () {
    return {
      pinTemp: this.$store.getters['pin/pinTemp'],
      classBorder: 'border-bottom-input nexa-20-bold',
      isDisabled: false,
      bottomSheetDoneAccount: false,
      bottomSheetDonePin: false,
      validationPin: false,
      access: this.$store.getters['pin/access'],
      pin: ''
    }
  },
  methods: {
    loading,
    parseJwt,
    trackerEvent,
    handleOnComplete (value) {
      this.pin = value
      this.submit()
    },
    setAttr () {
      $('.digit-group').find('input').each(function () {
        $(this).attr('type', 'password')
      })
    },
    resetPin () {
      this.pin = ''
      this.$refs.otpInput.clearInput()
    },
    async submit () {
      this.loading('start')
      this.isDisabled = true
      try {
        const payload = {
          pin: this.pin
        }
        const res = await this.$store.dispatch('pin/validationPin', payload)

        if (res.success) {
          if (res.data === true) {
            if (this.pin === this.pinTemp) {
              // reset counter pin
              this.$store.commit('pin/counter', 3)
              if (this.access === 'login') {
                this.trackerEvent('Account - Login PIN Creation Completed')
                this.register()
              } else if (this.access === 'register') {
                this.trackerEvent('Account - Registration PIN Creation Completed')
                this.registerFirstTime()
              } else if (this.access === 'forget') {
                this.forgetPin()
              } else {
                this.changePin()
              }
            } else {
              this.validationPin = true
              this.isDisabled = false
              this.resetPin()
              this.loading('finish')
            }
          } else {
            this.validationPin = true
            this.isDisabled = false
            this.resetPin()
            this.loading('finish')
          }
        } else {
          this.loading('finish')
          this.isDisabled = false
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
        this.isDisabled = false
      }
    },
    async registerFirstTime () {
      const payload = {
        application_uuid: process.env.VUE_APP_UUID,
        register_uuid: this.$store.getters['register/uuid'],
        device: 'Ponsel',
        pin: this.pin
      }

      const res = await this.$store.dispatch('register/registerFirstTime', payload)

      if (res.success) {
        this.bottomSheetDoneAccount = true
        this.validationPin = false
        localStorage.setItem('halofina-token', res.data.access_token)
        localStorage.setItem('X-Finarobo-Authorization', res.data.access_token)
        this.loading('finish')
      } else {
        this.loading('finish')
        throw new Error(res)
      }
    },
    async register () {
      const payload = {
        application_uuid: process.env.VUE_APP_UUID,
        user_uuid: this.$store.getters['login/userUuid'],
        device: 'Ponsel',
        pin: this.pin
      }

      const res = await this.$store.dispatch('register/registerPin', payload)

      if (res.success === true) {
        this.bottomSheetDonePin = true
        this.validationPin = false
        localStorage.setItem('halofina-token', res.data.access_token)
        localStorage.setItem('X-Finarobo-Authorization', res.data.access_token)
        this.trackerEvent('Account - Registration Completed')
        this.loading('finish')
      } else {
        this.loading('finish')
        throw new Error(res)
      }
    },
    async forgetPin () {
      const token = localStorage.getItem('X-Finarobo-Authorization')
      let userUuid

      if (token) {
        userUuid = this.parseJwt(token).user_uuid
      } else {
        userUuid = this.$store.getters['login/userUuid']
      }

      const payload = {
        application_uuid: process.env.VUE_APP_UUID,
        user_uuid: userUuid,
        device: 'Ponsel',
        pin: this.pin
      }

      const res = await this.$store.dispatch('pin/forgetPin', payload)

      if (res.success) {
        this.bottomSheetDonePin = true
        this.validationPin = false
        localStorage.setItem('halofina-token', res.data.access_token)
        localStorage.setItem('X-Finarobo-Authorization', res.data.access_token)
        this.loading('finish')
      } else {
        this.loading('finish')
        throw new Error(res)
      }
    },
    async changePin () {
      const token = localStorage.getItem('X-Finarobo-Authorization')
      const userUuid = this.parseJwt(token).user_uuid

      const payload = {
        application_uuid: process.env.VUE_APP_UUID,
        user_uuid: userUuid,
        device: 'Ponsel',
        old_pin: this.$store.getters['pin/oldPin'],
        new_pin: this.pin
      }

      const res = await this.$store.dispatch('pin/changePin', payload)

      if (res.success === true) {
        this.bottomSheetDonePin = true
        this.validationPin = false
        this.loading('finish')
      } else {
        this.loading('finish')
        throw new Error(res)
      }
    },
    goToDashboard () {
      this.bottomSheetDoneAccount = false
      this.bottomSheetDonePin = false
      this.$router.push('/dashboard')
      // goToNamespace(getNamespaces().KYC, '/', 'replace')
    }
  },
  mounted () {
    // this.setAttr()
  }
}
</script>
<style lang="sass">
#pin-index

  input[type=tel]
    -webkit-text-security: disc
    -moz-text-security: disc
    text-security: disc

  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

.pin-index
  *
    margin: 0
    padding: 0

  .prompt
    margin-bottom: 20px
    font-size: 20px
    color: white

  .wrap-btn-next
    .btn-next
      position: fixed
      bottom: 0

@media screen and (min-width: 768px)
  .header
    width: 100%
    position: fixed
    top: 0
    z-index: 2
    background: white
    height: 56px
    border: 1px solid #E8EAEF
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-component
    // v-layout
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    min-width: 0
    // column
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    // align-center
    -webkit-box-align: center !important
    -ms-flex-align: center !important
    align-items: center !important
    // justify-center
    -webkit-box-pack: center !important
    -ms-flex-pack: center !important
    justify-content: center !important

  #pin-index
    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

  .pin-index
    width: 360px !important

    .wrap-otp
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px

    .wrap-btn-next
      padding: 40px 20px 24px 20px
      .btn-next
        position: relative

</style>
