<template>
  <!-- eslint-disable -->
  <div id="pin-index">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar :is-fixed="true" :page-name="access === 'change' ? 'Ganti PIN' : 'Buat PIN'" :left="true"></reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="pin-index">
        <div class="toolbar-margin text-center wrap-otp">
          <v-layout column pt-10 class="dimension-up">
            <v-card-text class="nexa-18-bold color-black">Masukkan 6 digit PIN</v-card-text>
            <v-card-text class="avenir-12-reg color-black mt-4">
              PIN digunakan untuk masuk ke akun kamu <br />
              dan untuk bertransaksi
            </v-card-text>
            <v-layout column justify-center align-center>
              <v-flex xs12>
                <div class="wrap-code mt-5">
                  <div class="code">
                    <template>
                      <v-layout row justify-center class="digit-group pt-3 pb-5">
                        <v-otp-input
                          ref="otpInput"
                          input-classes="otp-input nexa-20-bold color-text-1"
                          separator=""
                          :num-inputs="6"
                          :should-auto-focus="true"
                          @on-complete="handleOnComplete"
                        />
                      </v-layout>
                    </template>
                  </div>
                </div>
              </v-flex>
              <v-card-text class="avenir-12-reg pt-4 color-supportive-pomegranate-1" v-if="validationPin === true">
                Mohon hindari untuk menggunakan PIN yang mudah <br /> ditebak seperti 111111 atau 123456
              </v-card-text>
            </v-layout>
          </v-layout>
          <div class="wrap-btn-next">
            <v-btn
              color="primary"
              block depressed
              min-height="56px"
              fixed
              class="btn-next"
              :bottom="true"
              :disabled="pin.length < 6"
              @click="submit"
            >Lanjut</v-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import $ from 'jquery'
import { loading } from '@/libs/helpers/global'
import { trackerEvent } from '@halofina/vue-library/src/libs/Tracker'

export default {
  name: 'PinIndex',
  data () {
    return {
      classBorder: 'border-bottom-input nexa-20-bold',
      isDisabled: true,
      validationPin: false,
      pin: ''
    }
  },
  methods: {
    loading,
    trackerEvent,
    handleOnComplete (value) {
      this.pin = value
      this.submit()
    },
    setAttr () {
      $('.digit-group').find('input').each(function () {
        $(this).attr('type', 'password')
      })
    },
    resetPin () {
      this.pin = ''
      this.$refs.otpInput.clearInput()
    },
    trackerLoaded () {
      if (this.access === 'login') {
        this.trackerEvent('Account - Login PIN Creation Loaded')
      } else if (this.access === 'register') {
        this.trackerEvent('Account - Registration PIN Creation Loaded')
      }
    },
    async submit () {
      this.loading('start')
      try {
        const payload = {
          pin: this.pin
        }
        const res = await this.$store.dispatch('pin/validationPin', payload)

        if (res.success) {
          if (res.data === true) {
            this.$store.commit('pin/access', this.access)
            this.$router.push('/pin/confirmation')
            this.loading('finish')
          } else {
            this.validationPin = true
            this.resetPin()
          }
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
      }
    }
  },
  mounted () {
    // this.setAttr()
    this.trackerLoaded()
  },
  created () {
    this.access = this.$route.params.access
  }
}
</script>
<style lang="sass">
#pin-index

  input[type=tel]
    -webkit-text-security: disc
    -moz-text-security: disc
    text-security: disc

  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

.pin-index
  *
    margin: 0
    padding: 0

  .prompt
    margin-bottom: 20px
    font-size: 20px
    color: white

  .wrap-btn-next
    .btn-next
      position: fixed
      bottom: 0

@media screen and (min-width: 768px)
  .header
    width: 100%
    position: fixed
    top: 0
    z-index: 2
    background: white
    height: 56px
    border: 1px solid #E8EAEF
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-component
    // v-layout
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    min-width: 0
    // column
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    // align-center
    -webkit-box-align: center !important
    -ms-flex-align: center !important
    align-items: center !important
    // justify-center
    -webkit-box-pack: center !important
    -ms-flex-pack: center !important
    justify-content: center !important

  #pin-index
    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

  .pin-index
    width: 360px !important

    .wrap-otp
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px

    .wrap-btn-next
      padding: 40px 20px 24px 20px
      .btn-next
        position: relative

</style>
