<template>
  <!-- eslint-disable -->
  <div id="pin-index">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar :is-fixed="true" page-name="Masukkan PIN" :left="true">
      <div slot="button-toolbar">
        <div class="pr-6"></div>
      </div>
    </reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="pin-index">
        <div class="toolbar-margin text-center wrap-otp">
          <v-layout column pt-10 class="dimension-up">
            <v-card-text class="nexa-18-bold color-black">Masukkan 6 digit PIN</v-card-text>
            <v-layout column justify-center align-center>
              <v-flex xs12>
                <div class="wrap-code mt-5">
                  <div class="code">
                    <template>
                      <v-layout row justify-center class="digit-group pt-3 pb-5">
                        <v-otp-input
                          ref="otpInput"
                          input-classes="otp-input nexa-20-bold color-text-1"
                          separator=""
                          :num-inputs="6"
                          :should-auto-focus="true"
                          @on-complete="handleOnComplete"
                        />
                      </v-layout>
                    </template>
                  </div>
                </div>
              </v-flex>
              <v-card-text class="avenir-12-reg pt-4 color-supportive-pomegranate-1" v-if="validationPin === true && counter > 0">
                PIN yang kamu masukkan salah. Silakan <br /> coba lagi (<b class="avenir-12-med color-supportive-pomegranate-1">{{counter}} kali lagi</b>)
              </v-card-text>
            </v-layout>
          </v-layout>
          <v-card-text class="avenir-14-med color-brand-1 bottom-0" @click="goForgetPin()">
            Lupa PIN
          </v-card-text>
          <div class="wrap-btn-next">
            <v-btn
              color="primary"
              block depressed
              min-height="56px"
              fixed
              class="btn-next"
              :bottom="true"
              :disabled="pin.length < 6"
              @click="submit"
            >Lanjut</v-btn>
          </div>
        </div>
        <!-- reusable bottom sheet -->
        <reusable-bottom-sheet
          v-model="bottomSheetBlock"
          :use-stripes="true"
          :persistent="true"
        >
          <div slot="custom-layout">
            <v-layout column align-center>
              <img src="@/assets/pin/pin-blocked.svg" />
            </v-layout>
            <v-card-text class="nexa-18-bold pa-0 color-text-1 text-center">
              Belum Berhasil
            </v-card-text>
            <v-card-text class="avenir-14-reg pa-0 pt-3 text-center">
              Kamu sudah berulang kali memasukkan PIN yang <br /> salah. Silakan lakukan lupa PIN.
            </v-card-text>
            <v-btn
              class="btn-radius-6 box-shadow py-3 nexa-16-bold mt-9 cursor-pointer"
              color="primary"
              depressed
              block
              min-height="56px"
              @click="goForgetPin()"
            >
              Lupa PIN
            </v-btn>
          </div>
        </reusable-bottom-sheet>
      </div>
    </div>
  </div>
</template>
<script>
import $ from 'jquery'
import { loading, parseJwt } from '@/libs/helpers/global'

export default {
  name: 'PinIndex',
  data () {
    return {
      classBorder: 'border-bottom-input nexa-20-bold',
      isDisabled: true,
      bottomSheetBlock: false,
      validationPin: false,
      pin: ''
    }
  },
  methods: {
    loading,
    parseJwt,
    handleOnComplete (value) {
      this.pin = value
      this.submit()
    },
    setAttr () {
      $('.digit-group').find('input').each(function () {
        $(this).attr('type', 'password')
      })
    },
    resetOtp () {
      this.pin = ''
      this.$refs.otpInput.clearInput()
    },
    async submit () {
      this.loading('start')
      try {
        const token = localStorage.getItem('X-Finarobo-Authorization')
        const userUuid = this.parseJwt(token).user_uuid

        const payload = {
          application_uuid: process.env.VUE_APP_UUID,
          device: 'Ponsel',
          user_uuid: userUuid,
          pin: this.pin
        }
        const res = await this.$store.dispatch('login/loginPin', payload)

        if (res.success) {
          this.loading('finish')
          this.$store.commit('pin/counter', 3)
          this.$router.go(-1)
        }
      } catch (err) {
        this.validationPin = true
        this.$store.commit('pin/counter', this.counter - 1)
        this.resetOtp()
        if (this.counter < 1) {
          this.bottomSheetBlock = true
        }
        this.loading('finish')
      }
    },
    goForgetPin () {
      this.$router.push('/pin/forget/otp/phone')
    }
  },
  mounted () {
    this.setAttr()
  },
  computed: {
    counter: function () {
      return this.$store.getters['pin/counter']
    }
  }
}
</script>
<style lang="sass">
.pin-index
  *
    margin: 0
    padding: 0

  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .prompt
    margin-bottom: 20px
    font-size: 20px
    color: white

  .bottom-0
    position: fixed
    bottom: calc(56px + 24px)
    left: 50%
    transform: translateX(-50%)

  .wrap-btn-next
    .btn-next
      position: fixed
      bottom: 0

@media screen and (min-width: 768px)
  .header
    width: 100%
    position: fixed
    top: 0
    z-index: 2
    background: white
    height: 56px
    border: 1px solid #E8EAEF
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-component
    // v-layout
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    min-width: 0
    // column
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    // align-center
    -webkit-box-align: center !important
    -ms-flex-align: center !important
    align-items: center !important
    // justify-center
    -webkit-box-pack: center !important
    -ms-flex-pack: center !important
    justify-content: center !important

  #pin-index
    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

  .pin-index
    width: 360px !important

    .wrap-otp
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px

    .wrap-btn-next
      padding: 40px 20px 24px 20px
      .btn-next
        position: relative

</style>
