<template>
  <div class="password-completed">
    <v-container>
      <reusable-toolbar page-name="Atur Ulang Kata Sandi" route="/password/forget/change">
        <div slot="button-toolbar" style="width: 40px"></div>
      </reusable-toolbar>
      <v-layout column align-center justify-center class="full-height bg-primary-3 px-5 text-align-center">
        <div class="full-width">
          <img src="@/assets/auth/forget-completed.svg" alt="forget-completed">
          <v-card-text class="nexa-16-bold pb-5">
            Kata Sandi Kamu Telah Halofina Simpan!
          </v-card-text>
          <v-card-text class="avenir-14-reg">
            Silakan masuk pada aplikasi dan <br /> mulai berinvestasi
          </v-card-text>
        </div>
        <v-flex class="fixed-layout full-width">
          <v-btn depressed color="primary" style="height: 56px" block @click="goToLogin()">Masuk</v-btn>
        </v-flex>

      </v-layout>
    </v-container>
  </div>
</template>

<script>

export default {
  name: 'PasswordCompleted',
  data () {
    return {
      test: null
    }
  },
  methods: {
    goToLogin () {
      this.$router.push('/login/email')
    }
  }
}
</script>
<style lang="sass">
  .password-completed
    *
      margin: 0px
      padding: 0px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .i-attention
      width: 12px
      height: auto

    .checked
      float: left
      margin-right: 12px
      width: 7px
      height: 7px

    .v-input
      flex: none
      width: 100%

    .card-validation
      background: #F9FAFC
      border: 1px solid #E8EAEF
      box-sizing: border-box
      border-radius: 8px
      width: 100%
</style>
