<template>
  <div id="password-form">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar page-name="Atur Ulang Kata Sandi" route="/password/forget/change">
      <div slot="button-toolbar" style="width: 40px"></div>
    </reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="password-form">
        <v-container>
          <v-layout column align-center justify-start class="bg-primary-3 px-5 dimension-up">
            <v-card-text class="pa-0 avenir-14-reg mb-2 mt-72">Kata Sandi Baru</v-card-text>
            <v-text-field
              v-model="password"
              :type="showPassword ? 'text' : 'password'"
              outlined
              background-color="white"
              placeholder="Masukkan Kata Sandi Kamu"
              dense
              hide-details
            >
              <div slot="append" @click="showPassword = !showPassword">
                <template v-if="showPassword">
                  <img
                    src="@/assets/generic/icons/ic-eye-off.svg"
                    alt="eye-off"
                    class="cursor-pointer"
                  />
                </template>
                <template v-else>
                  <img
                    src="@/assets/generic/icons/ic-eye.svg"
                    alt="eye-on"
                    class="cursor-pointer"
                  />
                </template>
              </div>
            </v-text-field>

            <div class="full-width" v-if="validation.password">
              <v-layout align-start row>
                <v-flex xs1 class="text-align-center">
                  <img src="@/assets/generic/icons/ic-cross.svg" alt="crossed" />
                </v-flex>
                <v-flex xs11>
                  <v-card-text class="avenir-12-reg color-denotive-red-1 mt-1" v-html="validation.password"></v-card-text>
                </v-flex>
              </v-layout>
            </div>

            <!-- List Validation -->
            <div class="card-validation pa-4 my-4">
              <v-card-text class="avenir-14-reg mb-2"
                >Kata sandi harus terdiri dari :</v-card-text
              >
              <div
                v-for="(text, index) in validationTexts"
                :key="index"
                class="mb-2"
              >
                <v-layout row align-center>
                  <div v-if="text.checked === true">
                    <img src="@/assets/generic/icons/ic-check.svg" alt="checked" />
                  </div>
                  <div v-else-if="text.checked === false">
                    <img src="@/assets/generic/icons/ic-cross.svg" alt="crossed" />
                  </div>
                  <div v-else>
                    <img src="@/assets/generic/icons/ic-ellipse.svg" alt="none" />
                  </div>
                  <div class="ml-1 pa-0 avenir-14-reg">
                    {{ text.text }}
                  </div>
                </v-layout>
              </div>
            </div>

            <v-card-text class="pa-0 avenir-14-reg mb-2">Konfirmasi Kata Sandi Baru</v-card-text>
            <v-text-field
              v-model="confirmPassword"
              :type="showPassword2 ? 'text' : 'password'"
              outlined
              background-color="white"
              placeholder="Ketik Ulang Kata Sandi Baru"
              dense
              hide-details
            >
              <div slot="append" @click="showPassword2 = !showPassword2">
                <template v-if="showPassword2">
                  <img
                    src="@/assets/generic/icons/ic-eye-off.svg"
                    alt="eye-off"
                    class="cursor-pointer"
                  />
                </template>
                <template v-else>
                  <img
                    src="@/assets/generic/icons/ic-eye.svg"
                    alt="eye-on"
                    class="cursor-pointer"
                  />
                </template>
              </div>
            </v-text-field>
            <v-card-text v-if="validation.confirmPassword" class="avenir-12-reg color-system-error mt-2">{{ validation.confirmPassword }}</v-card-text>

          </v-layout>
        </v-container>
        <div class="wrap-btn-next full-width">
          <v-btn :disabled="isDisabled" class="btn-next" fixed depressed color="primary" style="height: 56px" block @click="submitPassword">Simpan</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { loading } from '@/libs/helpers/global'
export default {
  name: 'PasswordForm',
  data () {
    return {
      email: this.$store.getters['global/email'],
      password: '',
      confirmPassword: '',
      showPassword: false,
      showPassword2: false,
      dialog: {
        dialogUploading: false
      },
      validation: {
        password: null,
        confirmPassword: null
      },
      validationTexts: [
        {
          checked: null,
          text: '8-15 Karakter'
        },
        {
          checked: null,
          text: 'Minimal 1 huruf Kapital'
        },
        {
          checked: null,
          text: 'Minimal 1 huruf Kecil'
        },
        {
          checked: null,
          text: 'Minimal 1 Angka.'
        }
      ],
      isDisabled: true,
      showConfirmPassword: false,
      blankBox: false
    }
  },
  watch: {
    password: function (value) {
      this.validation.password = ''

      const confirmPassword = this.confirmPassword
      const containCapital = /[A-Z]/
      const containSmallLetter = /[a-z]/
      const containDigit = /[0-9]/
      const validation = this.validationTexts
      // If length > 8
      if (value.length >= 8) {
        validation[0].checked = true
      } else {
        validation[0].checked = false
      }
      // If contain capital letter
      if (containCapital.test(value)) {
        validation[1].checked = true
      } else {
        validation[1].checked = false
      }
      // if contain small letter
      if (containSmallLetter.test(value)) {
        validation[2].checked = true
      } else {
        validation[2].checked = false
      }
      // If contain Digit
      if (containDigit.test(value)) {
        validation[3].checked = true
      } else {
        validation[3].checked = false
      }
      // Enable button
      if (
        value.length >= 8 &&
        containCapital.test(value) &&
        containSmallLetter.test(value) &&
        containDigit.test(value) &&
        confirmPassword === value
      ) {
        this.isDisabled = false
      } else {
        this.isDisabled = true
      }
      //
      if (confirmPassword === '') {
        this.validation.confirmPassword = ''
      } else {
        if (value === confirmPassword) {
          this.validation.confirmPassword = ''
        } else {
          this.validation.confirmPassword = 'Kata sandi tidak sesuai'
        }
      }
    },
    confirmPassword: function (value) {
      const password = this.password
      const validation = this.validationTexts

      if (
        value.length >= 8 &&
        validation[0].checked === true &&
        validation[1].checked === true &&
        validation[2].checked === true &&
        password === value
      ) {
        this.isDisabled = false
      } else {
        this.isDisabled = true
      }

      if (value === '') {
        this.validation.confirmPassword = ''
      } else {
        if (password === value) {
          this.validation.confirmPassword = ''
        } else {
          this.validation.confirmPassword = 'Kata sandi tidak sesuai'
        }
      }
    }
  },
  methods: {
    loading,
    async submitPassword () {
      this.loading('start')
      try {
        const payload = {
          email: this.email,
          password: this.password,
          confirmPassword: this.confirmPassword
        }

        const res = await this.$store.dispatch('login/setPassword', payload)
        if (res.success === true) {
          if (res.data === true) {
            this.$router.push('/password/forget/completed')
          } else {
            this.validation.password = 'Kata sandi baru tidak boleh sama dengan kata <br /> sandi lama'
          }
        } else {
          throw new Error(res)
        }
      } catch (err) {
        // dialog ada kesalahan
      } finally {
        this.loading('finish')
      }
    }
  }
}
</script>
<style lang="sass">
#password-form
  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .password-form
    *
      margin: 0px
      padding: 0px

    input
      padding: 0 8px !important

    .mt-72
      margin-top: 72px

    .wrap-btn-next
      .btn-next
        position: fixed
        bottom: 0

    .v-input__append-inner
      position: absolute
      right: 12px
      bottom: 12px

    .i-attention
      width: 12px
      height: auto

    .checked
      float: left
      margin-right: 12px
      width: 7px
      height: 7px

    .v-input
      flex: none
      width: 100%

    .card-validation
      background: #F9FAFC
      border: 1px solid #E8EAEF
      box-sizing: border-box
      border-radius: 8px
      width: 100%

@media screen and (min-width: 768px)
  .header
    width: 100%
    position: fixed
    top: 0
    z-index: 2
    background: white
    height: 56px
    border: 1px solid #E8EAEF
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-component
    // v-layout
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    min-width: 0
    // column
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    // align-center
    -webkit-box-align: center !important
    -ms-flex-align: center !important
    align-items: center !important
    // justify-center
    -webkit-box-pack: center !important
    -ms-flex-pack: center !important
    justify-content: center !important

  #password-form
    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

    .password-form
      width: 360px !important
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px

      .mt-72
        margin-top: 24px

      .wrap-btn-next
        padding: 40px 20px 24px 20px
        .btn-next
          position: relative

</style>
