<template>
  <!-- eslint-disable -->
  <div id="verification-number">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar
      :is-fixed="true"
      page-name="Ganti Nomor Ponsel"
      :left="true"
    ></reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="verification-number wrap-otp">
        <v-layout column>
          <v-flex class="toolbar-margin">
            <div class="pa-5 mt-75 dimension-up">
              <v-card-text class="avenir-14-reg mb-1">Nomor Ponsel Baru</v-card-text>
              <v-layout row>
                <v-flex xs4>
                  <v-layout row justify-space-between align-center class="wrap-number avenir-14-reg pl-2 pr-1 text-truncate cursor-pointer" @click="goToCountry()">
                    <v-flex xs10>
                      <div>
                        <span :class="'flag-icon mr-1 flag-icon-' + phone.classCode.toLowerCase()"></span>
                        {{phone.code}}
                      </div>
                    </v-flex>
                    <v-flex xs2>
                      <v-icon small color="black">mdi-chevron-down</v-icon>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs8>
                  <v-text-field
                    v-model="phone.number"
                    outlined
                    background-color="white"
                    placeholder="89673419573"
                    dense
                    type="number"
                    hide-details
                  ></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout row mt-2 align-start v-if="validation.phone === true">
                <img src="@/assets/register/error.svg" class="mr-1" />
                <div class="color-denotive-red-1 avenir-12-reg">Nomor ponsel sudah terdaftar</div>
              </v-layout>
            </div>
          </v-flex>
        </v-layout>
          <div class="wrap-btn-next">
            <v-btn
              depressed
              color="primary"
              block
              fixed
              :bottom="true"
              height="48px"
              class="btn-next"
              :disabled="phone.number.length < 1"
              @click="submit()"
            >Lanjut</v-btn>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
import { loading } from '@/libs/helpers/global'
export default {
  name: 'VerificationNumber',
  data () {
    return {
      phone: {
        code: this.$store.getters['global/code'],
        number: this.$store.getters['global/number'],
        classCode: this.$store.getters['global/classCode'],
        uuidCountry: this.$store.getters['global/uuidCountry']
      },
      password: '',
      validation: {
        phone: false
      },
      isDisabled: true
    }
  },
  methods: {
    loading,
    goToLogin () {
      this.$router.push('/')
    },
    goToCountry () {
      this.$store.commit('global/number', this.phone.number)
      this.$router.push('/register/country')
    },
    async submit () {
      this.loading('start')
      try {
        const payload = {
          user_uuid: this.$store.getters['login/userUuid'],
          reference_country_uuid: this.phone.uuidCountry,
          dial_code: this.phone.code,
          phone: this.phone.number
        }
        const res = await this.$store.dispatch('global/checkChangePhone', payload)
        if (res.success === true) {
          if (res.data === false) {
            this.$store.commit('global/code', this.phone.code)
            this.$store.commit('global/number', this.phone.number)
            this.$router.push('/change/number/otp')
          } else {
            this.validation.phone = true
          }
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        this.validation.phone = true
        this.loading('finish')
      }
    },
    async verifyPhone () {
      try {
        const payload = {
          application_uuid: process.env.VUE_APP_UUID,
          user_uuid: this.$store.getters['login/userUuid'],
          reference_country_uuid: this.phone.uuidCountry,
          dial_code: this.phone.code,
          phone: this.phone.number
        }
        const res = await this.$store.dispatch('global/verifyPhone', payload)
        if (res.success === true) {
          this.$store.commit('global/code', this.phone.code)
          this.$store.commit('global/number', this.phone.number)
          this.$router.push('/change/number/otp')
        } else {
          throw new Error(res)
        }
      } catch (err) {
        // this.validation.phone = true
      } finally {
        this.loading('finish')
      }
    }
  },
  created () {
    this.loading('finish')
  }
}
</script>
<style lang="sass">
#verification-number
  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

.verification-number
  *
    margin: 0
    padding: 0

  .wrap-number
    border: 1px solid #c0c0c0
    border-radius: 4px
    margin-right: 6px
    padding-top: 10px
    padding-bottom: 9px

  .v-toolbar
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
    height: 48px !important

  hr
    border-color: #E8EAEF
    border-width: .5px

  .v-btn--fixed.v-btn--bottom
    bottom: 0 !important

  .mt-75
    margin-top: 75px

  .wrap-btn-next
    .btn-next
      position: fixed
      bottom: 0

@media screen and (min-width: 768px)
  .header
    width: 100%
    position: fixed
    top: 0
    z-index: 2
    background: white
    height: 56px
    border: 1px solid #E8EAEF
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-component
    // v-layout
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    min-width: 0
    // column
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    // align-center
    -webkit-box-align: center !important
    -ms-flex-align: center !important
    align-items: center !important
    // justify-center
    -webkit-box-pack: center !important
    -ms-flex-pack: center !important
    justify-content: center !important

  #verification-number
    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

  .verification-number
    width: 360px !important
    border: 1px solid #F9F9FB
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
    border-radius: 4px

    .mt-75,
    .toolbar-margin
      margin-top: 0

    .wrap-btn-next
      padding: 20px 20px 24px 20px
      .btn-next
        position: relative

</style>
