<template>
  <!-- eslint-disable -->
  <div id="pin-index">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar :is-fixed="true" page-name="Data Nomor Ponsel" :left="true">
      <div slot="button-toolbar">
        <v-btn
          class="w-35"
          icon
          @click="goBackKyc()"
        >
        <img
          src="@/assets/generic/icons/icon-back.svg"
          style="width: 24px; height: 24px;"
          alt="arrow back"
        />
        </v-btn>
      </div>
    </reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="pin-index">
        <div class="toolbar-margin">
          <v-layout row justify-space-between class="px-5 pt-8">
            <div>
              <div class="avenir-14-reg color-text-3 pb-2">Nomor Ponsel</div>
              <div class="avenir-22-reg">{{dialCode + ' ' + phone}}</div>
            </div>
            <div class="avenir-14-reg color-brand-1" @click="change">Edit</div>
          </v-layout>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { loading, parseJwt } from '@/libs/helpers/global'
import { goToNamespace } from '@/libs/helpers/routing.js'

export default {
  name: 'PinIndex',
  data () {
    return {
      phone: '',
      dialCode: '',
      emailVerified: '0'
    }
  },
  methods: {
    loading,
    parseJwt,
    change () {
      this.$router.push('/pin/check/changeNumber')
    },
    goBackKyc () {
      goToNamespace('kyc', '/')
    },
    async getData () {
      this.loading('start')
      const token = localStorage.getItem('X-Finarobo-Authorization')
      try {
        const uuid = parseJwt(token).user_uuid
        this.$store.commit('login/userUuid', uuid)
        this.userUuid = uuid
        const payload = { user_uuid: uuid }

        const res = await this.$store.dispatch('global/getByUuid', payload)
        if (res.success === true) {
          this.phone = res.data.phone
          this.dialCode = res.data.dial_code
          localStorage.setItem('halofina-email-verified', res.data.is_email_verified)
          this.loading('finish')
        } else {
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
      }
    }
  },
  created () {
    this.getData()
  }
}
</script>
<style lang="sass">
#pin-index
  .header
    display: none

  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

.pin-index
  *
    margin: 0
    padding: 0

@media screen and (min-width: 768px)
  #pin-index
    .header
      display: flex
      width: 100%
      position: fixed
      top: 0
      z-index: 2
      background: white
      height: 56px
      border: 1px solid #E8EAEF
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .wrap-component
      // v-layout
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-flex: 1
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      -ms-flex-wrap: nowrap
      flex-wrap: nowrap
      min-width: 0
      // column
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column
      // align-center
      -webkit-box-align: center !important
      -ms-flex-align: center !important
      align-items: center !important
      // justify-center
      -webkit-box-pack: center !important
      -ms-flex-pack: center !important
      justify-content: center !important

    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

    .pin-index
      width: 360px !important

</style>
