<template>
  <v-bottom-sheet v-model="mutableIsOpen" :persistent="persistent">
    <div>
      <v-card :class="classCard">
        <v-layout v-if="useStripes === true" column align-center>
          <div class="tooltip-line"></div>
          <div class="tooltip-line mb-3"></div>
        </v-layout>
        <!-- @slot custom layout, replaces v-layout -->
        <slot name="custom-layout">
          <v-layout column align-center>
            <!-- @slot custom image layout -->
            <slot name="image-layout">
              <img v-if="image" :src="image" class="mb-4" alt="" />
            </slot>
            <v-card-text
              v-if="title"
              :class="'nexa-16-bold pa-0 mb-3 ' + classText"
              >{{ title }}</v-card-text
            >
            <v-card-text
              v-if="description"
              :class="'color-secondary-5 avenir-14-reg pa-0 mb-4 ' + classText"
              >{{ description }}</v-card-text
            >
            <!-- @slot custom button layout -->
            <slot name="button-layout">
              <v-btn
                class="btn-radius-6 box-shadow py-3 nexa-16-bold"
                color="primary"
                depressed
                block
                @click="closeSheet()"
              >
                <slot></slot>
              </v-btn>
            </slot>
          </v-layout>
        </slot>
      </v-card>
    </div>
  </v-bottom-sheet>
</template>

<script>
export default {
  name: 'ReusableBottomSheet',
  model: {
    prop: 'isOpen',
    event: 'is-open-change'
  },
  props: {
    persistent: {
      type: Boolean,
      default: false
    },
    textCentered: {
      type: Boolean,
      default: true
    },
    usePadding: {
      type: Boolean,
      default: true
    },
    isOpen: {
      type: Boolean,
      default: false
    },
    image: {
      type: String,
      default: null
    },
    title: {
      type: String,
      default: null
    },
    description: {
      type: String,
      default: null
    },
    useStripes: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      classCard: '',
      classText: ''
    }
  },
  computed: {
    mutableIsOpen: {
      get () {
        return this.isOpen
      },
      set (value) {
        this.$emit('is-open-change', value)
      }
    }
  },
  created () {
    this.classSetter()
  },
  methods: {
    swipeHandler (direction) {
      if (this.persistent === false) {
        if (direction === 'bottom') {
          this.mutableIsOpen = false
        }
      }
    },
    closeSheet () {
      this.mutableIsOpen = false
    },
    classSetter () {
      if (this.usePadding === true) {
        this.classCard = 'card-bottomsheet border-radius-14 py-3 px-5'
      } else {
        this.classCard = 'card-bottomsheet border-radius-14 pt-3'
      }
      if (this.textCentered === true) {
        this.classText = 'text-xs-center'
      } else {
        this.classText = ''
      }
    }
  }
}
</script>

<style lang="sass">
.tooltip-line
  width: 35px
  height: 2px
  background-color: #A0A5B7
  margin-bottom: 2px

.border-radius-14
  border-radius: 14px 14px 0 0 !important

@media screen and (min-width: 768px)
  .card-bottomsheet
    position: absolute
    width: 360px
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    border-radius: 12px !important

  .tooltip-line
    display: none
</style>
