<template>
  <div>
    <v-card-text class="nexa-20-bold">
      Ini Dashboard
    </v-card-text>
    <v-btn color="success" class="ml-4 mb-2" @click="change">Change Pin</v-btn> <br />
    <v-btn color="error" class="ml-4 mb-2" @click="logout()">Logout</v-btn> <br />
    <v-btn color="primary" class="ml-4 mb-2" @click="kyc()">Kyc</v-btn> <br />
    <v-btn color="warning" class="ml-4 mb-2" @click="finaconsult()">Finaconsult Client</v-btn> <br />
    <v-btn color="secondary" class="ml-4 mb-2" @click="changeNumber()">Change Number</v-btn> <br />
    <v-btn color="success" style="position: absolute; left: -100%" @click="goToLock()" id="uh">uh!</v-btn>
  </div>
</template>
<script>
import $ from 'jquery'
import { goToNamespace } from '@/libs/helpers/routing.js'
import { loading, parseJwt } from '@/libs/helpers/global'
import Amplitude from '@halofina/vue-library/src/libs/Amplitude'

export default {
  data () {
    return {
      hidden: true
    }
  },
  methods: {
    loading,
    parseJwt,
    checkMinimized () {
      document.addEventListener('visibilitychange', function () {
        const hidden = document.hidden
        if (hidden === false) {
          $('#uh').click()
        }
      }, false)
    },
    goToLock () {
      // this.$router.push('pin/lock')
    },
    change () {
      this.$router.push('pin/check/change')
    },
    kyc () {
      const token = localStorage.getItem('halofina-token')
      const userUuid = this.parseJwt(token).user_uuid
      localStorage.setItem('halofina-uuid', userUuid)

      goToNamespace('kyc', '/')
    },
    changeNumber () {
      this.$router.push('/change/number')
    },
    finaconsult () {
      const token = localStorage.getItem('halofina-token')
      const userUuid = this.parseJwt(token).user_uuid
      localStorage.setItem('halofina-uuid', userUuid)

      goToNamespace('finaconsult', '/')
    },
    async logout () {
      this.loading('start')
      try {
        const token = localStorage.getItem('halofina-token')
        const userUuid = this.parseJwt(token).user_uuid

        const payload = {
          application_uuid: process.env.VUE_APP_UUID,
          device: 'Ponsel',
          user_uuid: userUuid
        }

        const res = await this.$store.dispatch('global/logout', payload)

        if (res.success) {
          this.loading('finish')
          this.$router.push('/')
        }
      } catch (err) {
        // dialog ada kesalahan
        this.loading('finish')
      }
    },
    addEvent () {
      const eventProperties = {
        color: 'red',
        age: 25,
        skey: 'apanicj'
      }
      Amplitude.logEvent('Account - Cek Amplitude', eventProperties)
    }
  },
  created () {
    // Amplitude.setUserId(localStorage.getItem('halofina-uuid'))
  },
  mounted () {
    // this.addEvent()
    this.checkMinimized()
  }
}
</script>
