<template>
  <div class="wrap-code mt-5">
    <v-card-text class="avenir-14-med">Masukkan Kode</v-card-text>
    <div class="code">
      <div class="digit-group pt-3 pb-5">
        <input
          v-model="input1"
          type="text"
          id="digit-1"
          data-next="digit-2"
          class="nexa-20-bold color-text-1"
          maxlength="1"
          :class="input1 === '' ? classBorder : ''"
        />
        <input
          v-model="input2"
          type="number"
          id="digit-2"
          data-next="digit-3"
          data-previous="digit-1"
          class="nexa-20-bold color-text-1"
          :class="input2 === '' ? classBorder : ''"
        />
        <input
          v-model="input3"
          type="number"
          id="digit-3"
          data-next="digit-4"
          data-previous="digit-2"
          class="nexa-20-bold color-text-1"
          :class="input3 === '' ? classBorder : ''"
        />
        <input
          v-model="input4"
          type="number"
          id="digit-4"
          data-next="digit-5"
          data-previous="digit-3"
          class="nexa-20-bold color-text-1"
          :class="input4 === '' ? classBorder : ''"
        />
        <input
          v-model="input5"
          type="number"
          id="digit-5"
          data-next="digit-6"
          data-previous="digit-4"
          class="nexa-20-bold color-text-1"
          :class="input5 === '' ? classBorder : ''"
        />
        <input
          v-model="input6"
          type="number"
          id="digit-6"
          data-previous="digit-5"
          class="nexa-20-bold color-text-1"
          :class="input6 === '' ? classBorder : ''"
        />
      </div>
    </div>
  </div>
</template>
<script>
import $ from 'jquery'
export default {
  name: 'OtpIndex',
  data () {
    return {
      classBorder: 'border-bottom-input',
      isDisabled: true,
      input1: '',
      input2: '',
      input3: '',
      input4: '',
      input5: '',
      input6: ''
    }
  },
  methods: {
    inputTabs () {
      $('.digit-group').find('input').each(function () {
        $(this).attr('maxlength', 1)
        $(this).on('keyup', function (e) {
          var parent = $($(this).parent())
          if (e.keyCode === 8 || e.keyCode === 37) {
            var prev = parent.find('input#' + $(this).data('previous'))
            if (prev.length) {
              $(prev).select()
            }
          } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 96 && e.keyCode <= 105)) {
            var next = parent.find('input#' + $(this).data('next'))
            if (next.length) {
              $(next).select()
            } else {
              $('.btn-next').click()
            }
          }
        })
      })
    },
    resetOtp () {
      this.input1 = ''
      this.input2 = ''
      this.input3 = ''
      this.input4 = ''
      this.input5 = ''
      this.input6 = ''
      $('#digit-1').select()
    }
  },
  mounted () {
    this.inputTabs()
  },
  computed: {
    otp: function () {
      const val = this.input1 + this.input2 + this.input3 + this.input4 + this.input5 + this.input6
      if (val.length > 5) {
        // this.$store.commit('global/otp', val)
      }
      return val
    }
  }
}
</script>
<style lang="sass">
.otp-component
  *
    margin: 0
    padding: 0

  .wrap-code
    border: 1px solid #EFEAE8
    border-radius: 6px
    padding-top: 8px
    width: 275px

  .digit-group
    .border-bottom-input
      border-bottom: 1px solid #A8ADC4

    input
      width: 15px
      height: 36px
      text-align: center
      margin-right: 24px

      &:last-child
        margin: 0 !important

      &:selection
        background: transparent !important
        background-color: transparent !important

    .splitter
      padding: 0 5px
      color: white
      font-size: 24px

  .prompt
    margin-bottom: 20px
    font-size: 20px
    color: white

  .v-btn--fixed.v-btn--bottom
    bottom: 0 !important
</style>
