<template>
  <!-- eslint-disable -->
  <div id="login-email">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <div class="min-height-full wrap-component">
      <div class="login-email">
        <v-layout column>
          <v-flex>
            <div class="pos-relative">
              <img
                :src="require('@/assets/auth/halofina-header.svg')"
                style="width: 100%; height: auto;"
                class="mb-1"
                alt="header"
              />
            </div>
            <div class="pa-5 wrap-form">
              <v-card-text class="avenir-14-reg mb-1">Email</v-card-text>
              <v-layout row>
                <v-text-field
                  v-model="email"
                  outlined
                  background-color="white"
                  placeholder="Masukkan Email Kamu"
                  dense
                  ref="email"
                  type="email"
                  hide-details
                ></v-text-field>
              </v-layout>
              <v-layout row mt-2 align-start v-if="validation.email !== ''">
                <img src="@/assets/register/error.svg" class="mr-1" />
                <div class="color-denotive-red-1 avenir-12-reg" v-html="validation.email"></div>
              </v-layout>
              <v-btn
                depressed
                color="primary"
                block
                height="48px"
                class="mt-10 btn-radius-4"
                :disabled="isDisabled"
                @click="submit()"
              >Lanjut</v-btn>

              <!-- dont have pin -->
              <v-layout row align-center mt-6>
                <v-flex xs5>
                  <hr />
                </v-flex>
                <v-flex xs2>
                  <div class="text-center avenir-12-reg color-text-4">atau</div>
                </v-flex>
                <v-flex xs5>
                  <hr />
                </v-flex>
              </v-layout>

              <v-card-text class="pt-4 text-center avenir-14-reg color-text-3">
                Sudah punya PIN?
              </v-card-text>

              <div class="full-width pt-2">
                <v-btn outlined min-height="48px" class="btn-radius-4" color="primary" block @click="goToLogin()">Masuk dengan Nomor Ponsel</v-btn>
              </div>
            </div>
              <div class="full-width bottom-fixed">
                <v-card-text class="avenir-14-reg text-center mb-3">
                  Belum punya akun?
                  <span class="avenir-14-med color-primary-1 cursor-pointer" @click="goToRegister()">Daftar Sekarang</span>
                </v-card-text>
              </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
  </div>
</template>
<script>
import { loading } from '@/libs/helpers/global'
export default {
  name: 'LoginEmail',
  data () {
    return {
      email: '',
      validation: {
        email: ''
      },
      isDisabled: true
    }
  },
  methods: {
    loading,
    goToRegister () {
      this.$router.push('/register')
    },
    goToLogin () {
      this.$router.push('/')
    },
    async submit () {
      this.loading('start')
      try {
        // handle autofill by browser
        if (this.email === '') {
          this.email = this.$refs.email.$el.value
        }

        const payload = {
          email: this.email
        }
        const res = await this.$store.dispatch('login/checkEmail', payload)
        if (res.success === true) {
          this.loading('finish')
          this.$store.commit('login/userUuid', res.data.uuid)
          this.$store.commit('global/email', payload.email)
          this.$router.push('/password/verification')
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
        this.validation.email = 'Email belum terdaftar'
      }
    },
    resetState () {
      this.$store.commit('pin/reset')
      this.$store.commit('login/reset')
      this.$store.commit('global/reset')
    }
  },
  created () {
    this.resetState()
  },
  watch: {
    email (value) {
      if (value === '') {
        this.validation.email = ''
      } else {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        if (pattern.test(value) === false) {
          this.isDisabled = true
          this.validation.email = 'Format e-mail salah'
        } else {
          this.isDisabled = false
          this.validation.email = ''
        }
      }
    }
  }
}
</script>
<style lang="sass">
#login-email
  .header
    display: none

.login-email
  *
    margin: 0
    padding: 0

  .wrap-form
    background: white
    position: relative
    z-index: 1

  .wrap-number
    border: 1px solid #c0c0c0
    border-radius: 4px
    margin-right: 6px

  .bottom-fixed
    position: fixed
    bottom: 0
    margin-bottom: 4px
    left: 50%
    transform: translateX(-50%)

  hr
    border-color: #E8EAEF
    border-width: .5px

@media screen and (min-width: 768px)
  #login-email
    .header
      display: flex
      width: 100%
      position: fixed
      top: 0
      z-index: 2
      background: white
      height: 56px
      border: 1px solid #E8EAEF
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .wrap-component
      // v-layout
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-flex: 1
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      -ms-flex-wrap: nowrap
      flex-wrap: nowrap
      min-width: 0
      // column
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column
      // align-center
      -webkit-box-align: center !important
      -ms-flex-align: center !important
      align-items: center !important
      // justify-center
      -webkit-box-pack: center !important
      -ms-flex-pack: center !important
      justify-content: center !important

    #login-email
      .v-toolbar
        margin-top: 56px !important
        box-shadow: none !important

    .login-email
      width: 360px !important
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px
      overflow: hidden

      .wrap-btn-next
        padding: 40px 20px 24px 20px
        .btn-next
          position: relative

</style>
