<template>
  <!-- eslint-disable -->
  <div id="otp-index">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar :is-fixed="true" page-name="Verifikasi" :left="true"></reusable-toolbar>
    <div class="min-height wrap-component">
      <div class="otp-index">
        <div class="toolbar-margin text-center wrap-otp">
          <v-layout column pt-10 class="dimension-up">
            <v-card-text class="nexa-18-bold color-black">Masukkan Kode Verifikasi</v-card-text>
            <v-card-text class="avenir-12-reg color-black mt-4">
              Kami telah mengirimkan kode verifikasi
              <br />melalui SMS ke
              <span class="avenir-12-med">{{code + ' ' + phone}}</span>
            </v-card-text>
            <v-layout column justify-center align-center>
              <v-flex xs12>
                <div class="wrap-code mt-5">
                  <v-card-text class="avenir-14-med">Masukkan Kode</v-card-text>
                  <div class="code">
                    <template>
                      <v-layout row justify-center class="digit-group pt-3 pb-5">
                        <v-otp-input
                          ref="otpInput"
                          input-classes="otp-input nexa-20-bold color-text-1"
                          separator=""
                          :num-inputs="6"
                          :should-auto-focus="true"
                          @on-complete="handleOnComplete"
                        />
                      </v-layout>
                    </template>
                  </div>
                </div>
              </v-flex>
                <v-card-text v-if="validOtp === false" class="avenir-12-reg pt-4 color-supportive-pomegranate-1">
                  Kode yang kamu masukkan salah, silakan <br /> coba lagi
                </v-card-text>

                <v-card-text class="avenir-12-reg pt-4" v-if="counterDisplay === '00'">
                  Belum menerima kode? <span class="avenir-12-med color-brand-1 cursor-pointer" @click="resendOtp()">Kirim Ulang</span>
                </v-card-text>
                <v-card-text class="avenir-12-reg pt-4" v-else>
                  Kirim ulang dalam <span class="avenir-12-med">{{counterDisplay}} detik</span>
                </v-card-text>
            </v-layout>
          </v-layout>
          <div class="wrap-btn-next">
            <v-btn
              color="primary"
              block depressed
              min-height="56px"
              fixed
              class="btn-next"
              :bottom="true"
              :disabled="otp.length < 6"
              @click="submit"
            >Lanjut</v-btn>
          </div>
        </div>
        <v-snackbar
          v-model="snackbar"
          :bottom="true"
          :timeout="2000"
          color="#232735"
        >
        <v-card-text class="px-3 avenir-16-reg color-primary-3">
          Kode berhasil dikirim
        </v-card-text>
        </v-snackbar>
      </div>
    </div>
  </div>
</template>
<script>
import { loading } from '@/libs/helpers/global'
export default {
  name: 'OtpIndex',
  data () {
    return {
      otp: '',
      code: this.$store.getters['global/code'],
      phone: this.$store.getters['global/number'],
      classBorder: 'border-bottom-input',
      isDisabled: true,
      counterDisplay: '00',
      snackbar: false,
      validOtp: true
    }
  },
  methods: {
    loading,
    handleOnComplete (value) {
      this.otp = value
      this.submit()
    },
    handleClearInput () {
      this.otp = ''
      this.$refs.otpInput.clearInput()
    },
    async submit () {
      this.loading('start')
      try {
        const payload = {
          user_uuid: this.$store.getters['login/userUuid'],
          otp_sms: this.otp
        }
        const res = await this.$store.dispatch('login/verifyOtp', payload)

        if (res.success) {
          this.loading('finish')
          if (res.data === true) {
            // change uuid register with uuid login
            this.$store.commit('register/createTemporary', payload.user_uuid)
            this.$router.push('/pin/create/login')
          } else {
            this.validOtp = false
          }
        } else {
          throw new Error(res)
        }
      } catch (err) {
        // expired
        this.validOtp = false
      } finally {
        this.handleClearInput()
        this.loading('finish')
      }
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    async counter (s) {
      s = Number(s)
      while (s > 0) {
        s -= 1
        this.counterDisplay = this.pad(s)
        await this.sleep(1000)
      }
    },
    pad (num) {
      return ('0' + parseInt(num)).substr(-2)
    },
    async getLimitCountdown () {
      this.loading('start')
      try {
        const payload = {
          config_key: 'OTP_SMS_RESEND_TIME'
        }
        const res = await this.$store.dispatch('register/limitCountdown', payload)

        if (res.success) {
          this.loading('finish')
          this.counter(res.data.config_current_value)
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
      }
    },
    async resendOtp () {
      this.loading('start')
      this.handleClearInput()
      try {
        const payload = {
          user_uuid: this.$store.getters['login/userUuid']
        }
        const res = await this.$store.dispatch('login/resendOtp', payload)

        if (res.success) {
          const countdown = this.getLimitCountdown()
          this.counter(countdown)
          this.snackbar = true
          this.validOtp = true
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
      }
    }
  },
  created () {
    this.getLimitCountdown()
  }
}
</script>
<style lang="sass">
#otp-index
  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

.otp-index
  *
    margin: 0
    padding: 0

  .v-snack--bottom
    bottom: calc(56px + 24px) !important

  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-code
    border: 1px solid #EFEAE8
    border-radius: 6px
    padding-top: 8px
    width: 275px

  .prompt
    margin-bottom: 20px
    font-size: 20px
    color: white

  .v-btn--fixed.v-btn--bottom
    bottom: 0 !important

  .wrap-btn-next
    .btn-next
      position: fixed
      bottom: 0

@media screen and (min-width: 768px)
  .header
    width: 100%
    position: fixed
    top: 0
    z-index: 2
    background: white
    height: 56px
    border: 1px solid #E8EAEF
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-component
    // v-layout
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-flex: 1
    -ms-flex: 1 1 auto
    flex: 1 1 auto
    -ms-flex-wrap: nowrap
    flex-wrap: nowrap
    min-width: 0
    // column
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    // align-center
    -webkit-box-align: center !important
    -ms-flex-align: center !important
    align-items: center !important
    // justify-center
    -webkit-box-pack: center !important
    -ms-flex-pack: center !important
    justify-content: center !important

  #otp-index
    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

  .otp-index
    width: 360px !important

    .wrap-otp
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px

    .wrap-btn-next
      padding: 40px 20px 24px 20px
      .btn-next
        position: relative

</style>
