<template>
  <!-- eslint-disable -->
  <div id="password-verification">
    <v-layout column justify-center align-start class="header">
      <img src="@/assets/generic/logo/logo-blue.svg" class="logo-blue pl-10" alt="logo-blue">
    </v-layout>
    <reusable-toolbar
      :is-fixed="true"
      page-name="Masuk"
      :left="true"
      title-color="white !important"
      class-name="responsive-mobile bg-transparent"
      icon-color="white"
    ></reusable-toolbar>
    <reusable-toolbar
      :is-fixed="true"
      page-name="Masuk"
      :left="true"
      class-name="responsive-tablet bg-primary-3"
    ></reusable-toolbar>
    <div class="min-height-full wrap-component">
      <div class="password-verification">
        <v-layout column>
          <v-flex>
            <div class="pos-relative">
              <img
                :src="require('@/assets/auth/halofina-header.svg')"
                style="width: 100%; height: auto;"
                class="mb-1"
                alt="header"
              />
            </div>
            <div class="pa-5">
              <v-card-text class="avenir-14-reg mb-1">Kata Sandi</v-card-text>
              <v-layout row>
                <v-text-field
                  v-model="password"
                  :type="showPassword ? 'text' : 'password'"
                  outlined
                  background-color="white"
                  placeholder="Masukkan Kata Sandi Kamu"
                  dense
                  hide-details
                >
                <div slot="append" @click="showPassword = !showPassword">
                  <template v-if="showPassword">
                    <img
                      src="@/assets/generic/icons/ic-eye-off.svg"
                      alt="eye-off"
                      class="cursor-pointer"
                    />
                  </template>
                  <template v-else>
                    <img
                      src="@/assets/generic/icons/ic-eye.svg"
                      alt="eye-on"
                      class="cursor-pointer"
                    />
                  </template>
                </div>
                </v-text-field>
              </v-layout>
              <v-layout row mt-2 align-start v-if="validation.password === true">
                <img src="@/assets/register/error.svg" class="mr-1" />
                <div class="color-denotive-red-1 avenir-12-reg">Kata sandi tidak sesuai</div>
              </v-layout>
              <v-btn
                depressed
                color="primary"
                block
                height="48px"
                class="mt-10 btn-radius-4"
                :disabled="isDisabled"
                @click="submit()"
              >Lanjut</v-btn>

              <!-- dont have pin -->
              <v-card-text class="pt-6 text-center avenir-14-reg color-text-3">
                Lupa Kata Sandi? <span class="avenir-14-med color-brand-1 cursor-pointer" @click="goToForgot()">Klik disini</span>
              </v-card-text>
            </div>
          </v-flex>
        </v-layout>
        <!-- reusable bottom sheet -->
        <reusable-bottom-sheet
          v-model="bottomSheet.model"
          :use-stripes="true"
          :persistent="true"
        >
          <div slot="custom-layout">
            <v-layout column align-center>
              <img src="@/assets/pin/dont-have-pin.svg" />
            </v-layout>
            <v-card-text class="nexa-18-bold pa-0 color-text-1 text-center">
              {{bottomSheet.title}}
            </v-card-text>
            <v-card-text class="avenir-14-reg pa-0 pt-3 text-center">
              {{bottomSheet.description}}
            </v-card-text>
            <v-btn
              class="btn-radius-6 box-shadow py-3 nexa-16-bold mt-9"
              color="primary"
              depressed
              block
              min-height="56px"
              @click="bottomSheet.type === 'login' ? goToLogin() : goToVerification()"
            >
              {{bottomSheet.button}}
            </v-btn>
          </div>
        </reusable-bottom-sheet>
      </div>
    </div>
  </div>

</template>
<script>
import { loading } from '@/libs/helpers/global'
export default {
  name: 'PasswordVerification',
  data () {
    return {
      password: '',
      showPassword: false,
      validation: {
        password: false
      },
      bottomSheet: {
        model: false,
        type: '',
        title: '',
        description: '',
        button: ''
      },
      isDisabled: true
    }
  },
  methods: {
    loading,
    goToLogin () {
      this.$router.push('/')
    },
    goToForgot () {
      this.$router.push('/password/forget/otp')
    },
    goToVerification () {
      this.$router.push('/email/verification_number')
    },
    async submit () {
      this.loading('start')
      try {
        const payload = {
          uuid: this.$store.getters['login/userUuid'],
          password: this.password
        }
        const res = await this.$store.dispatch('login/checkPassword', payload)
        if (res.success === true) {
          if (res.data.pin === true) {
            this.bottomSheet.model = true
            this.bottomSheet.type = 'login'
            this.bottomSheet.title = 'Menggunakan Nomor Ponsel'
            this.bottomSheet.description = 'Demi kemudahan penggunaan, kami sekarang mengamankan akun kamu dengan PIN. Silakan masuk dengan nomor ponsel dan PIN.'
            this.bottomSheet.button = 'Masuk dengan Nomor Ponsel'
          } else {
            this.bottomSheet.model = true
            this.bottomSheet.type = 'verification'
            this.bottomSheet.title = 'Verifikasi Nomor Ponsel'
            this.bottomSheet.description = 'Demi kemudahan penggunaan, kami sekarang mengamankan akun kamu dengan nomor ponsel dan PIN.'
            this.bottomSheet.button = 'Verifikasi Sekarang'
          }
        } else {
          throw new Error(res)
        }
      } catch (err) {
        this.validation.password = true
      } finally {
        this.$store.commit('global/number', '')
        this.loading('finish')
      }
    }
  },
  watch: {
    password (value) {
      if ((value.charAt(0).toUpperCase() + value.slice(1)).replace(/\s/g, '').length < 3) {
        this.isDisabled = true
      } else {
        this.isDisabled = false
      }
    }
  }
}
</script>
<style lang="sass">
#password-verification
  .header,
  .responsive-tablet
    display: none

.password-verification
  *
    margin: 0
    padding: 0

  .v-input__append-inner
    position: absolute
    right: 12px
    bottom: 12px

  .wrap-number
    border: 1px solid #c0c0c0
    border-radius: 4px
    margin-right: 6px

  .bottom-fixed
    position: fixed
    bottom: 0
    margin-bottom: 4px
    margin-left: -20px

  hr
    border-color: #E8EAEF
    border-width: .5px

@media screen and (min-width: 768px)
  #password-verification
    .responsive-mobile
      display: none

    .responsive-tablet
      display: block

    .header
      display: flex
      width: 100%
      position: fixed
      top: 0
      z-index: 2
      background: white
      height: 56px
      border: 1px solid #E8EAEF
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

    .wrap-component
      // v-layout
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-flex: 1
      -ms-flex: 1 1 auto
      flex: 1 1 auto
      -ms-flex-wrap: nowrap
      flex-wrap: nowrap
      min-width: 0
      // column
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column
      // align-center
      -webkit-box-align: center !important
      -ms-flex-align: center !important
      align-items: center !important
      // justify-center
      -webkit-box-pack: center !important
      -ms-flex-pack: center !important
      justify-content: center !important

    .v-toolbar
      margin-top: 56px !important
      box-shadow: none !important

    .password-verification
      width: 360px !important
      border: 1px solid #F9F9FB
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2)
      border-radius: 4px
      overflow: hidden

      .wrap-btn-next
        padding: 40px 20px 24px 20px
        .btn-next
          position: relative

</style>
