<template>
  <v-app>
    <v-content>
      <reusable-loading></reusable-loading>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      uh: true
    }
  }
}
</script>
