<template>
  <div class="form-confirmation">
    <div>
      <reusable-toolbar page-name="Konfirmasi Data Email" :left="true">
        <div slot="button-toolbar">
          <v-btn
            class="w-35"
            icon
            @click="goBackToNamespace()"
          >
          <img
            src="@/assets/generic/icons/icon-back.svg"
            style="width: 24px; height: 24px;"
            alt="arrow back"
          />
          </v-btn>
        </div>
      </reusable-toolbar>
        <v-layout column px-5>
          <v-flex xs12 class="toolbar-margin">
            <v-card-text class="avenir-16-reg color-text-3 pt-4 pb-4 border-bottom-solid">
              Periksa kembali data yang telah kamu isi. Pastikan data yang telah kamu isi sudah benar.
            </v-card-text>
          </v-flex>
          <v-layout row wrap pt-4>
            <v-flex xs6>
              <v-card-text class="avenir-14-reg color-text-3 text-left">
                Email
              </v-card-text>
            </v-flex>
            <v-flex xs6 v-if="editStatus === 'editAll' || editStatus === 'selectionEdit'">
              <v-card-text class="avenir-14-reg color-brand-1 text-right" @click="goToEdit()">
                Edit
              </v-card-text>
            </v-flex>
          </v-layout>
          <v-card-text class="avenir-22-reg pt-2 text-truncate">
            {{email === '' ?  emailTemp : email}}
          </v-card-text>
        </v-layout>
      <v-btn color="primary" class="btn-next nexa-16-bold" depressed @click="submit()"> Simpan </v-btn>
    </div>
  </div>
</template>

<script>
import { loading, parseJwt } from '@/libs/helpers/global'
import { goToNamespace } from '@/libs/helpers/routing'

export default {
  name: 'FormEmail',
  data () {
    return {
      emailTemp: '',
      editStatus: '',
      verified: '',
      statusKyc: localStorage.getItem('halofina-status-kyc')
    }
  },
  computed: {
    email () {
      return this.$store.getters['global/email']
    }
  },
  created () {
    switch (this.statusKyc) {
      case 'NEW':
        this.editStatus = 'notEditAll'
        break
      case 'PROCESS':
        this.editStatus = 'notEditAll'
        break
      case 'APPROVED':
        this.editStatus = 'selectionEdit'
        break
      default:
        this.editStatus = 'editAll'
        break
    }
    this.getData()
  },
  methods: {
    loading,
    parseJwt,
    submit () {
      if (this.email === this.emailTemp) {
        if (this.verified === '1') {
          goToNamespace(process.env.VUE_APP_KYC, '/')
        } else {
          this.$router.push('/email/otp')
        }
      } else {
        this.$router.push('/email/otp')
      }
    },
    goToEdit () {
      this.$router.push('/email/form')
    },
    async getData () {
      this.loading('start')
      try {
        const uuid = localStorage.getItem('halofina-uuid') || this.parseJwt(localStorage.getItem('halofina-token')).user_uuid
        const payload = { user_uuid: uuid }

        const res = await this.$store.dispatch('global/getByUuid', payload)
        if (res.success === true) {
          if (res.data.email !== null) {
            this.emailTemp = res.data.email
            this.verified = res.data.is_email_verified
          }
          this.loading('finish')
        } else {
          throw new Error(res)
        }
      } finally {
        this.loading('finish')
      }
    },
    goBackToNamespace () {
      this.$store.commit('global/email', '')
      goToNamespace(process.env.VUE_APP_KYC, '/')
    }
  },
  watch: {
    email (value) {
      if (value === '') {
        this.validation.email = ''
      } else {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        if (pattern.test(value) === false) {
          this.isDisabled = true
          this.validation.email = 'Format e-mail salah'
        } else {
          this.isDisabled = false
          this.validation.email = ''
        }
      }
    }
  }
}
</script>
<style lang="sass">
  .form-confirmation
    *
      margin: 0px
      padding: 0px

    .w-35
      width: 35px
      height: 35px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important
      height: 48px !important

    .v-input__icon
      height: 56px !important

    .pt-140
      padding-top: 140px

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important

    .v-label
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      color: #6E7692 !important
      font-size: 16px !important

    .v-input input
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      font-size: 22px !important
      line-height: 30px
      color: #505565 !important
      height: 60px !important
      max-height: 70px !important
      padding: 0 0 20px
      padding-bottom: 0

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before
      border-color: #B3B7C6 !important

    .v-input__slot
      background-color: transparent !important
</style>
