<template>
  <div class="form-email">
    <div>
      <reusable-toolbar page-name="Data Email" :left="true">
      </reusable-toolbar>
        <v-layout column class="pt-140" px-5>
          <v-flex xs12 class="toolbar-margin">
            <v-text-field
              label="Email"
              placeholder="Masukkan Email"
              v-model="email"
              type="email"
              hide-details
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout row mt-2 mx-5 align-start v-if="validation.email !== ''">
          <img src="@/assets/register/error.svg" class="mr-1" />
          <div class="color-denotive-red-1 avenir-12-reg" v-html="validation.email"></div>
        </v-layout>
      <v-btn color="primary" class="btn-next nexa-16-bold" :disabled="email === '' || validation.email !== ''" depressed @click="goToConfirmation()"> Lanjut </v-btn>
    </div>
  </div>
</template>

<script>
import { loading, parseJwt } from '@/libs/helpers/global'
import { trackerEvent } from '@halofina/vue-library/src/libs/Tracker'

export default {
  name: 'FormEmail',
  data () {
    return {
      email: this.$store.getters['global/email'] || '',
      validation: {
        email: ''
      }
    }
  },
  mounted () {
    this.trackerEvent('KYC - Data Email Page Loaded')
  },
  methods: {
    loading,
    parseJwt,
    trackerEvent,
    async goToConfirmation () {
      this.loading('start')
      try {
        const userUuid = localStorage.getItem('halofina-uuid') || this.parseJwt(localStorage.getItem('halofina-token')).user_uuid
        const payload = {
          user_uuid: userUuid,
          email: this.email
        }

        const res = await this.$store.dispatch('global/checkUsedEmail', payload)

        if (res.success) {
          if (res.data === false) {
            this.$store.commit('global/email', this.email)
            this.$router.push('/email/confirmation')
          } else {
            this.validation.email = 'Email sudah digunakan!'
          }
        }
      } catch (err) {
        // dialog ada kesalahan
        this.validation.email = 'Email sudah digunakan!'
      } finally {
        this.loading('finish')
      }
    }
  },
  watch: {
    email (value) {
      if (value === '') {
        this.validation.email = ''
      } else {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        if (pattern.test(value) === false) {
          this.isDisabled = true
          this.validation.email = 'Format e-mail salah'
        } else {
          this.isDisabled = false
          this.validation.email = ''
        }
      }
    }
  }
}
</script>
<style lang="sass">
  .form-email
    *
      margin: 0px
      padding: 0px

    .v-toolbar
      box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important
      height: 48px !important

    .v-input__icon
      height: 56px !important

    .pt-140
      padding-top: 140px

    .btn-next
      width: 100%
      position: fixed
      bottom: 0
      height: 56px !important

    .v-label
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      color: #6E7692 !important
      font-size: 16px !important

    .v-input input
      font-family: 'Avenir-Regular', Helvetica, Arial, Sans-Serif !important
      font-size: 22px !important
      line-height: 30px
      color: #505565 !important
      height: 60px !important
      max-height: 70px !important
      padding: 0 0 20px
      padding-bottom: 0

    .theme--light.v-text-field > .v-input__control > .v-input__slot:before
      border-color: #B3B7C6 !important

    .v-input__slot
      background-color: transparent !important
</style>
