<template>
  <!-- eslint-disable -->
  <div class="otp-index">
    <reusable-toolbar :is-fixed="true" page-name="Verifikasi" :left="true"></reusable-toolbar>
    <div class="toolbar-margin text-center">
      <v-layout column pt-10>
        <v-card-text class="nexa-18-bold color-black">Verifikasi Email Kamu</v-card-text>
        <div>
          <v-card-text class="avenir-12-reg color-black mt-4">
            Kami telah mengirimkan kode verifikasi
            <br />
            melalui email ke
            <span class="avenir-12-med">{{email}}</span>
          </v-card-text>
        </div>
        <v-layout column justify-center align-center>
          <v-flex xs12>
            <div class="wrap-code mt-5">
              <v-card-text class="avenir-14-med">Masukkan Kode</v-card-text>
              <div class="code">
                <template>
                  <v-layout row justify-center class="digit-group pt-3 pb-5">
                    <v-otp-input
                      ref="otpInput"
                      input-classes="otp-input nexa-20-bold color-text-1"
                      separator=""
                      :num-inputs="6"
                      :should-auto-focus="true"
                      @on-complete="handleOnComplete"
                    />
                  </v-layout>
                </template>
              </div>
            </div>
          </v-flex>
            <v-card-text v-if="validOtp === false" class="avenir-12-reg pt-4 color-supportive-pomegranate-1">
              {{errorMessage}}
            </v-card-text>

            <v-card-text class="avenir-12-reg pt-4" v-if="counterDisplay === '00'">
              Belum menerima kode? <span class="avenir-12-med color-brand-1 cursor-pointer" @click="resendOtp()">Kirim Ulang</span>
            </v-card-text>
            <v-card-text class="avenir-12-reg pt-4" v-else>
              Kirim ulang dalam <span class="avenir-12-med">{{counterDisplay}} detik</span>
            </v-card-text>
        </v-layout>
      </v-layout>
      <v-btn
        color="primary"
        block depressed
        min-height="56px"
        fixed
        class="btn-next"
        :bottom="true"
        :disabled="otp.length < 6"
        @click="submitEmail"
      >Lanjut</v-btn>
    </div>
    <v-snackbar
      v-model="snackbar"
      :bottom="true"
      :timeout="2000"
      color="#232735"
    >
    <v-card-text class="px-3 avenir-16-reg color-primary-3">
      Kode berhasil dikirim
    </v-card-text>
    </v-snackbar>
  </div>
</template>
<script>
import { goToNamespace } from '@/libs/helpers/routing.js'
import { loading, parseJwt } from '@/libs/helpers/global'
import { trackerEvent } from '@halofina/vue-library/src/libs/Tracker'

export default {
  name: 'OtpIndex',
  data () {
    return {
      otp: '',
      code: '',
      phone: '',
      dial_code: '',
      classBorder: 'border-bottom-input',
      isDisabled: true,
      counterDisplay: '00',
      snackbar: false,
      validOtp: true,
      flag: '',
      counterResend: 0,
      userUuid: localStorage.getItem('halofina-uuid') || this.parseJwt(localStorage.getItem('halofina-token')).user_uuid,
      email: this.$store.getters['global/email'],
      errorMessage: 'Kode yang kamu masukkan salah, silakan <br /> coba lagi'
    }
  },
  methods: {
    trackerEvent,
    loading,
    parseJwt,
    handleOnComplete (value) {
      this.otp = value
      this.submitEmail()
    },
    resetOtp () {
      this.otp = ''
      this.$refs.otpInput.clearInput()
    },
    async submitEmail () {
      this.loading('start')
      try {
        const payload = {
          user_uuid: this.userUuid,
          otp_email: this.otp
        }
        const res = await this.$store.dispatch('global/verifyOtpEmail', payload)

        if (res.success) {
          if (res.data === true) {
            if (this.counterResend > 0) {
              this.trackerEvent('KYC - Data Email OTP Resend', { resend_count: this.counterResend })
            }
            goToNamespace(process.env.VUE_APP_KYC, '/', 'replace')
          } else {
            this.validOtp = false
            this.resetOtp()
          }
          this.loading('finish')
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        // expired
        if (err.message === 'Email sudah digunakan!') {
          this.errorMessage = err.message
        } else {
          this.errorMessage = 'Kode yang kamu masukkan salah, silakan <br /> coba lagi'
        }
        this.validOtp = false
        this.resetOtp()
        this.loading('finish')
      }
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    async counter (s) {
      s = Number(s)
      while (s > 0) {
        s -= 1
        this.counterDisplay = this.pad(s)
        await this.sleep(1000)
      }
    },
    pad (num) {
      return ('0' + parseInt(num)).substr(-2)
    },
    async getLimitCountdown () {
      this.loading('start')
      try {
        const payload = {
          config_key: 'OTP_SMS_RESEND_TIME'
        }
        const res = await this.$store.dispatch('register/limitCountdown', payload)

        if (res.success) {
          this.counter(res.data.config_current_value)
          this.loading('finish')
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
      }
    },
    async resendOtp () {
      this.loading('start')
      try {
        const payload = {
          user_uuid: this.userUuid
        }
        const res = await this.$store.dispatch('login/resendOtpEmail', payload)

        if (res.success) {
          this.snackbar = true
          const countdown = this.getLimitCountdown()
          this.counter(countdown)
          this.counterResend += 1
          this.loading('finish')
        } else {
          this.loading('finish')
          throw new Error(res)
        }
      } catch (err) {
        this.loading('finish')
      }
    },
    async sendOtpEmail () {
      this.loading('start')
      try {
        const payload = {
          user_uuid: this.userUuid,
          email: this.email
        }
        const res = await this.$store.dispatch('global/verifyEmail', payload)

        if (res.success) {
          if (res.data === true) {
            this.getLimitCountdown()
          }
        }
      } catch (err) {
        // dialog ada kesalahan
      } finally {
        this.loading('finish')
      }
    }
  },
  created () {
    this.sendOtpEmail()
  },
  mounted () {
    this.trackerEvent('KYC - Data Email OTP Loaded')
  }
}
</script>
<style lang="sass">
.otp-index
  *
    margin: 0
    padding: 0

  .v-snack--bottom
    bottom: calc(56px + 24px) !important

  .v-toolbar
    height: 48px !important
    box-shadow: 0px 2px 4px rgba(131, 135, 179, 0.2) !important

  .wrap-code
    border: 1px solid #EFEAE8
    border-radius: 6px
    padding-top: 8px
    width: 275px

  .prompt
    margin-bottom: 20px
    font-size: 20px
    color: white

  .v-btn--fixed.v-btn--bottom
    bottom: 0 !important
</style>
